[2018-12-11 14:22] kentcdodds commented on #234
A fix has been merged in jsdom. Hopefully it's released soon. Also hopefully Jest's version range of jsdom accepts the fix 🤞

There's nothing more we can do here, so I'll close this.

[2018-12-11 14:22] #234 closed

[2018-12-11 14:56] DmacLoyaltyOne commented on #242
I may have found another issue.
The flushEffects makes the code work correctly, but I notice the following code is not acting as expected.

[code]
I would expect this to trigger the event listener that was added onto the document, but it does not seem to be triggering the callback.

If I intercept the event listener like this:
[code]

and then trigger it manually:

[code]

Then it seems to work.

[2018-12-11 15:25] DmacLoyaltyOne commented on #242
Sure I'll give it a shot and see what I can come up with, and keep you updated.

[2018-12-12 14:32] dadamssg opened #244 "calling jest.useFakeTimers() causes problems"
- `react-testing-library` version: 5.3.1
- `react` version: react@16.7.0-alpha.2
- `node` version: 8.12.0
- `npm` (or `yarn`) version: yarn 1.10.1

### Relevant code or config:

[code]

### What you did:

I'm building a slideshow component that will eventually auto-play based on a `setTimeout`. If i call `jest.useFakeTimers()`, the test fails. If i remove it, it passes. I've tried using `rerender`

[2018-12-12 15:01] dadamssg commented on #244
Of course I would finally stumble on some clue minutes after I submit an issue but days after trying to figure this out.

Apparently it has something to do with the `jest.useFakeTimers()` and promises.

https://stackoverflow.com/a/51132058/728241

After some testing, I've found that I need to advance the timers by an amount greater than 30 ms in an immediately resolving promise. I have no idea why

[2018-12-12 15:57] kentcdodds commented on #244
Bummer. I wonder if you could make it work any better using lolex directly 🤔

Would you like to add this to the FAQ in the README?

[2018-12-12 16:29] vlad-zhukov opened #245 "Hooks render inside Jest unlike in the browser"
- `react-testing-library` version: 5.3.0+
- `react` version: 16.7.0-alpha.2
- `node` version: n/a
- `npm` (or `yarn`) version: n/a

### Relevant code or config:

https://codesandbox.io/s/lp702xjv8z

[code]

### What you did:

Working with hooks I've stumbled in a use case when I need to pass a reference to a DOM element down the tree through the context (but this detail doesn't matter, it could be

[2018-12-12 17:49] kentcdodds commented on #245
Hi @vlad-zhukov,

Have you see the [`flushEffects`](https://github.com/kentcdodds/react-testing-library#flusheffects-experimental) function?

Yes, there's a difference between jsdom and the browser with `useEffect` and I'm not sure what the issue is, nor am I working on fixing it. You're welcome to do some [digging](http://kcd.im/dig), but the fix will not be in this project, so I'm going to go ah

[2018-12-12 17:49] #245 closed

[2018-12-13 12:01] MiroslavPetrik commented on #242
I'm having the same issue. My flow is
1. Render component
2. `fireEvent.click` (click handler calls `setState`)
3. `queryByText` or `container.querySelector`

step 3 never finishes. For `queryByText` the test eventually crashes node with

[code]
Because of some String allocations in replace or substr methods. Don't know if some of the query functions could cause this...

And the `container.querySe

[2018-12-13 14:55] kentcdodds commented on #242
A demo will always help. Please provide one.

[2018-12-17 02:44] pelotom commented on #183
Yes, but that doesn't give you the nice features of the `getBy*` methods:

- They return exactly one result
- They throw an error if they can't find anything that matches

Personally I would love to see `getById`, `getByClassName` and `getByQuerySelector` added to this library! I don't really see the downside.

[2018-12-17 03:09] kentcdodds commented on #183
The downside is that people start using those features instead of the queries that they should be using instead. One of the things that makes react-testing-library so great is in what it makes more difficult. Think of it like `dangerouslySetInnerHTML`. Generally you should avoid it, but sometimes you need to. It's important that it's _possible_ (as an escape hatch), but the fact that it's difficul

[2018-12-17 04:08] pelotom commented on #183
Can I just ask, why is using `getByTestId` any more valid than `getByClassName`? Both are “internal” attributes that the user has no perception of. The salient difference for me is that CSS classes often already exist, so you may not need to further instrument your component in order to test it.

[2018-12-17 04:37] kentcdodds commented on #183
It's not much better. Using test ids is not recommended but it's an escape hatch to help you avoid worse selectors. Sometimes the given queries just aren't enough. Here's why a test id is better than class names it the id attribute: https://blog.kentcdodds.com/making-your-ui-tests-resilient-to-change-d37a6ee37269

[2018-12-17 04:48] kristianmandrup commented on #183
The owner of any open source library can make his own rules and choices. If you don't like it, I guess you have to create your own extension to suit your needs and others who share that preference. Personally I also disagree with the specific choices and arguments to keep these restrictions, but I also respect it.

I've created an extension library with such extensions that you can help contribute

[2018-12-17 04:51] kentcdodds commented on #183
You gotta link to that project @kristianmandrup?

[2018-12-17 05:01] kristianmandrup commented on #183
Here: https://github.com/kristianmandrup/dom-testing-lib-extensions

Has not been fully tested or used in real apps yet. Is a starting point with clear intensions, to make for a better DSL especially for testing forms.

[2018-12-17 05:01] pelotom commented on #183
@kentcdodds with scoped CSS (css-in-js, css modules, etc.) I don't think the points of that blogpost hold water. I am having to add redundant `data-testid`s which are identical to the `className`s that I already had; it's pure noise. And in TypeScript my classnames are type safe; they could be imported to use in a test.

But of course @kristianmandrup is right, you can do whatever you want with th

[2018-12-17 05:02] kentcdodds commented on #183
What are you selecting that the other selectors don't work for anyway? I rarely find myself actually using test-ids. Most of the time the other selectors work great for me.

[2018-12-17 05:02] kentcdodds commented on #183
Also, no you're totally fine expressing pain points 👍 I want to understand.

[2018-12-17 05:18] kristianmandrup commented on #183
Exactly my point. Somehow Kent is able.to work within his particular constraint on his projects with his select libraries, infrastructure etc and perhaps many others following in his footsteps. However the world is a very big place, and so there are many potential scenarios where these constraints become an issue... Why I find it  better to "keep the options open" to scenarios that you don't conte

[2018-12-17 05:34] kristianmandrup commented on #183
I will just say that I strongly disagree with the whole notion of testing the app from the user perspective. Exactly to Kent's point about class names potentially changing.

Testing on elements having particular text and such, is like saying, give me the wall with that painting on it, when you want to test a wall. Well, you might decide to hang a different painting on the wall later or move it to

[2018-12-17 05:36] kentcdodds commented on #183
Huh, sounds like you should probably be using a different library then 😂

I strongly disagree with that thought process 😅

[2018-12-17 05:36] kristianmandrup commented on #183
Regarding class names, you often have some that are structural, for identification of element type and those that are decorative, ie. being targeted for styling. Only the decorative should be somewhat volatile.

[2018-12-17 05:46] alexkrolick commented on #183
Using classnames for structural queries is prone to breaking with minor, non-visible refactors like adding an inner div, refactoring to use a 3rd party component with its own CSS, etc., etc.

Testids are great for these cases because they can be moved around when refactoring to point at a new element; however, there are often even better semantic alternatives.

For example, one common use case for

[2018-12-17 06:11] alexkrolick commented on #183
Another comment was that text content changes a lot during development. Most internationalization frameworks allow using the default strings at runtime without any build step or HOCs. Even if you're not using an i18n framework you can export string constants and reference them in the test.

The only difficulty I've had with this is where multiple elements have the same text, like a form title that

[2018-12-17 06:15] kentcdodds commented on #183
This is what I'd do there:

[code]

Typically it's not good to depend on the tagName of elements, but in practical situations this escape hatch make it possible :)

[2018-12-17 06:36] kristianmandrup commented on #183
Having thought more about this, I would soften up a bit regarding my previous comment. Obviously both have their place. At least ~90% of the DOM or a front end app is structural, while the icing on the cake is the remaining 5-10%. The house analogy is very accurate. Ideally we should have separate structural and presentational tests. Would be awesome if we could have React render the app without a

[2018-12-17 07:10] kristianmandrup commented on #183
I'd actually propose ideally building the entire app without any presentation embedded in the DOM, then add all presentation elements, including text, images etc. using CSS entirely. Could be done elegantly, integrating with i18n solution using CSS `content` element. Much cleaner separation and ensures tests are operating in a clean environment as well. Then have tests for both layers, structural/

[2018-12-17 07:12] kristianmandrup commented on #183
@alexkrolick I've had several experiences where I've had to deliver an app while the client had no firm idea on the final presentation until very late in the game (f.ex having a design agency etc. doing this on an entirely separate, parallel track). In this scenario, you simply don't have any text except 'placeholders".

[2018-12-17 07:34] alexkrolick commented on #183
In that scenario:
- Add testids. Tests don't change when you finalize the design.
- Make the strings variables in a module or use a translation framework that does this automatically. Use these variables in your tests. Tests again don't change when you finalize the designs.

[2018-12-17 16:38] Crispioso opened #247 "Input event doesn't update selectionEnd/selectionStart values"
- `react-testing-library` version: `5.2.3`
- `react` version: `16.6.3`
- `node` version: `11.2.0`
- `npm` (or `yarn`) version: yarn `1.12.3`

### Relevant code or config:

[code]

### What you did:

Asserted that an input event would trigger the selection values for an import to be incremented as each letter is added.

### What happened:

The `selectionEnd` and `selectionStart` values are always `

[2018-12-17 16:58] julienw opened #248 "getByText doesn't find nodes that are <input type="submit" value="XXX">"
I use a code that contains an submit button like this:
[code]

With react-testing-library I want to get it using for example `getByText('Retrieve profiles')`, which I expect to work because the text `'Retrieve profiles'` is actually seen by users.

But this doesn't work and fails with this error:
[code]

Is this error expected in this case? I don't find an easy way to get to the submit button and

[2018-12-17 17:02] kentcdodds commented on #248
Interesting. I think that the query should be updated to account for this case.

The change will actually be pretty simple in this file: https://github.com/kentcdodds/dom-testing-library/blob/master/src/get-node-text.js

We'll want a test for this as well. Would you be willing to make that contribution?

[2018-12-17 17:04] kentcdodds commented on #247
Hi @Crispioso 👋

Hmm... I'm not sure. Could you [dig](kcd.im/dig) a little bit to see if you can figure out what's wrong here?

[2018-12-17 18:08] weyert commented on #247
You are listening to `onChange`-event but you aren't dispatching the `change`-event. I would suggest to try `user-event` which tries to dispatch all the different events when typing `userEvent.type(elem, 'm')`

I am only not sure whether `jsdom` would update the `selectionStart` and `selectionEnd`-variables when you are sending these events. Maybe `elem.select()` would work

[2018-12-17 22:20] julienw commented on #248
Yes, I'm interested in fixing this, but realistically I won't be able to get to it before Thursday or Friday. And if you see nothing before Friday it means it won't be before next year :-) (Precising this in case anybody wants to work on it before this).

[2018-12-18 06:08] alexkrolick commented on #242
I can repro this with `waitForElement` and `wait`

[2018-12-18 06:15] alexkrolick commented on #242
Possibly related to https://github.com/facebook/jest/issues/7339

[2018-12-18 08:14] alexkrolick commented on #242
My issue looks like an infinite loop in a component, which might be triggering the "sync tests never timeout" issue (facebook/jest#6947).

[2018-12-18 08:46] Crispioso commented on #247
Thanks for the responses! My bad on listening to the wrong event, that was a typo in this example. Changing it to firing a `change` event doesn't fix it though 😢

I too have been unsure whether jsdom even supports updating the selection data on the typing events. I can see there are [tests](https://github.com/jsdom/jsdom/blob/master/test/web-platform-tests/to-upstream/html/semantics/forms/the-text

[2018-12-18 15:34] edi9999 opened #249 "Some styles (transform, WebkitTransform) are not rendered to the dom"
- `react-testing-library` version: 5.4.0
- `react` version: 16.5.2
- `node` version: 8.14.0
- `npm` (or `yarn`) version: 6.5.0

It seems that some special styles are not rendered at all to the document, I don't think it is intended.

### Relevant code or config:

[code]

### What happened:

The innerHTML does not contain translate

[code]

[2018-12-19 11:14] weyert commented on #247
Yeah, looks like `jsdom` isn't updating those fields when you send the different events. Looks like you would need to mess `with setSelectionRange`. I am not sure what the expected behaviour is, you might want to raise an issue with `jsdom`?

Let use know what you think of `user-event` I think it's a great little helper companion for `react-testing-library`.

[2018-12-19 21:23] quangta93 opened #251 "How to check if a component contains instance of another component?"
I'm wondering what's the best practice to check whether my testing component contains one or multiple instances of another component. The ideal scenario looks something like this:

[code]

Snapshot testing obviously doesn't work because the value of `Clock` keeps changing whenever we render `AppHeader`. Another potential solution is to set `data-testid` for my `Clock` component but in that case, h

[2018-12-20 09:51] ChrisBAshton commented on #236
Thanks - have now raised https://github.com/styled-components/jest-styled-components/issues/218.

[2018-12-20 17:11] kidunot89 opened #252 "Using with react-transition-group without mocking"
I'm developing a component library that functions primarily as a wrapper for `react-transition-group`'s Transition component. And while I could mock it out that would defeat the purpose of the test. My issue lies in the fact that no matter how much I set the timeout on the transition component or any of the wait functions ( wait, waitForElement, ...etc ), they timeout before the shouldComponentUpd

[2018-12-20 17:49] kentcdodds commented on #252
Hi @kidunot89!

Interesting! I don't have time to dig into this myself, but hopefully someone else can help you out.

You may have better luck asking this in [on the official project spectrum chat](https://spectrum.chat/react-testing-library)

Good luck!

[2018-12-20 18:41] julienw commented on #248
I realize that `<input type="button">` is concerned too.

[2018-12-21 01:01] kidunot89 commented on #252
I solved the problem. It was the `Transition` component callbacks. They weren't actual being called. I simply modified my `Chain` component's render method to
[code]
and removed `updateStatus` function. I also modified my test to
[code]
Note that I removed the `await wait( () => expect( container.querySelector( '.state' ).innerHTML ).toEqual( 'entering' ) );` This is because the `entering` state i

[2018-12-21 01:01] #252 closed

[2018-12-21 01:04] kentcdodds commented on #252
Glad you got it worked out!

[2018-12-21 18:21] marcinczenko commented on #244
Don't you need to wrap the `jest.useFakeTimers()` in a promise as well?

I have something like this, and without rapping `jest.useFakeTimers()` in a promise, the test timeouts
on the first await (basically nothing gets rendered).

[code]

[2018-12-24 18:02] LukasWerfel commented on #251
If you do not want to give the clock component a generic `data-testid`, it is possible to have it accept one. One example could be:
[code]

[code]
Docs:
- [within](https://github.com/kentcdodds/dom-testing-library/blob/master/README.md#within-and-getqueriesforelement-apis)
- [getAllByTestId](https://github.com/kentcdodds/react-testing-library#queryall-and-getall-apis)

[2018-12-25 06:04] jakobsandberg commented on #243
Hi @IsaaX, thank you for providing extensive context to your question.

I took a look at your example, and you are using `debug()` before the submenu items are rendered into the DOM. We can utilize `waitForElement` to ensure our submenu items are rendered into the DOM before we use `debug()`:

[code]

[2018-12-26 21:45] HafizAhmedMoon opened #254 "Querying elements does provide unexpected behavior"
- `react-testing-library` version: `5.3.2`
- `react` version: `16.6.0`
- `node` version: `8.12.0`
- `yarn` version: `1.12.3`

### Relevant code or config:

[code]

### What you did:

I'm testing two components at same time.

### What happened:

I have two separate components and when I rendered both at same time and querying elements does not provide expected behavior.

### Reproduction:

Here is

[2018-12-26 21:49] alexkrolick commented on #254
`baseElement` defaults to the container in https://github.com/kentcdodds/react-testing-library/blob/master/src/index.js#L8, so there may be some other issue

[2018-12-26 21:53] HafizAhmedMoon commented on #254
@alexkrolick `baseElement` defaults to `document.body` in https://github.com/kentcdodds/react-testing-library/blob/master/src/index.js#L13 if `container` is undefined and `container` is a child node of `document.body`

[2018-12-26 22:20] kentcdodds commented on #254
The queries are based on the `baseElement` so that testing portals is straightforward. It should normally work fine because you should be rendering your element on a clean HTML document so it shouldn't make any difference. Typically you will not be calling `render` in a single test (just like you wouldn't typically do ReactDOM.render twice in your app). Is there a reason you're calling `render` tw

[2018-12-26 22:42] HafizAhmedMoon commented on #254
@kentcdodds yes and no :)
it is being called twice, the component is rendering in beforeEach at the first time and I have one special case that needs to render the element with different props as freshly. The second render with different props change some nodes and when I'm expecting that nodes to be `null` the query function is finding that nodes from the previous render giving me a not null valu

[2018-12-26 22:59] jakobsandberg commented on #254
If you are doing a `render` in `beforeEach`, you can include an `afterEach` that cleans up the DOM after each test:
[code]
https://github.com/kentcdodds/react-testing-library#cleanup

[2018-12-27 00:43] HafizAhmedMoon commented on #254
I'm using `cleanup` in `afterEach` but in this case I have to use cleanup before creating new render in my special case which resolves my problem.

Just to let you know, I noticed sometimes when I forget to add cleanup it gives me the same problem.

It makes more sense to me to scope queries to each new render which I can achieve by custom render within your provided example.

BTW, thanks for help

[2018-12-30 21:51] alexkrolick commented on #251
If the component is third-party and you can't modify it to accept a prop, you can use a Jest mock to wrap or replace the component:

[code]

[code]

Using requireActual is optional; if you don't care what Clock renders you can just mock it with a div containing a testid.

[2018-12-31 02:23] conmute opened #255 "VSCode Intelisense (aka suggest) is not working!"
VSCode Intelisense (aka suggest) is not working from the library, render function, and for `dom-testing-library` as well...

[2018-12-31 02:30] conmute commented on #255
I used jsconfig.json to enable inclusion from the src folder, and this broke this feature, it is working ;)...

[2018-12-31 02:30] #255 closed

[2019-01-03 18:21] sagar-gavhane commented on #251
Enzyme have more specific API to check how many times children component rendered into DOM. With react-testing-library I'm not sure Is there any kind API exist for covering this use case. For this use case, I always mock react component and pass through props.

**Header.jsx**
[code]

**Clock.jsx**
[code]

**Header.test.js**
[code]

[2019-01-03 19:14] SeanRoberts commented on #36
If anyone else ends up here after running through the stuff from TestingJavascript.com and getting an error about react-testing-library's matchers not existing on type 'Assertion', the issue is actually due to a conflict between Jest and Cypress, and has nothing to do with react-testing-library.  The easiest fix I found was just adding the cypress folder to the excludes in my tsconfig.json in the

[2019-01-03 20:14] kentcdodds commented on #251
Whatever ends up happening here, we're not going to implement anything within react-testing-library to assert whether certain components were rendered or how many times they were rendered. That's an implementation detail.

Thanks for the tips from people though!

[2019-01-03 20:14] #251 closed

[2019-01-03 20:15] #243 closed

[2019-01-03 20:16] kentcdodds commented on #249
I've actually seen this in the past (not with react-testing-library) and it always confused me. My guess is that it's either something with jsdom or something with React.

In any case this is not something we can fix in react-testing-library. Sorry. Good luck!

[2019-01-03 20:17] kentcdodds commented on #242
Going to close this one for inactivity and I don't think that it's a bug in react-testing-library anyway.

[2019-01-03 20:18] kentcdodds commented on #247
I'm pretty sure this is not something that react-testing-library can do anything about so I'm going to close this issue. Pretty sure it's a jsdom issue.

[2019-01-03 20:18] #247 closed

[2019-01-03 20:18] kentcdodds commented on #244
Thanks @marcinczenko!

I'm going to go ahead and close this one.

[2019-01-03 20:18] #244 closed

[2019-01-04 00:03] marcinczenko commented on #244
I think it is fine to close. I have just one remark. I found out that in some cases, you may need to call `jest.useFakeTimers()` directly without wrapping it in a promise. So, if something does not work, try both options. Would be nice to further investigate, but as long I can get it to work, it is not the highest priority on my list - fortunately not so many tests need it. It may be related to ha

[2019-01-04 03:45] sagar-gavhane commented on #251
I'm totally agree 👍 with @kentcdodds. Don't write tests for component implementation details.

[2019-01-04 16:12] kentcdodds commented on #249
Interesting 🤔

Could you do a little more [digging](https://kcd.im/dig) please? This is pretty odd.

[2019-01-07 18:39] kentcdodds opened #261 "Add utility for testing custom hooks"
### Describe the feature you'd like:

I think it would be great to add a utility to make testing custom hooks easier. Right now, [I recommend](https://www.youtube.com/watch?v=0e6WCQYg5tU&list=PLV5CVI1eNcJgCrPH_e6d57KRUTiDZgs0u) making a render prop component out of the hook and testing that component. I think we could do the same from within react-testing-library.

### Suggested implementation:

H

[2019-01-07 18:59] gnapse commented on #261
Sounds good, but I'm still skeptical that is can be advertised as a general solution to test custom hooks.

What about custom hooks that only `useEffect` and have no return values? Or even if they return something, they're also using a `useEffect` and possibly interacting with a ref. For instance, I already have some hooks to spy on scroll (they need a ref to the scroll container) and load more if

[2019-01-07 19:02] kentcdodds commented on #261
Those are great points @gnapse. If the hook does side-effects though, even if you're testing a regular component, you're going to have to mock the side-effects and you could do the same with this thing:

[code]

So I'm pretty sure this will only make those kinds of things easier as well.

[2019-01-07 19:02] kentcdodds commented on #261
My biggest concern is that people will start testing hooks that are neither complex nor reusable in isolation. That's where docs will need a very big message indicating how this should be used.

[2019-01-07 19:14] gnapse commented on #261
I'm sorry but I still do not follow you. What is `sideEffect` in your code snippet:

[code]

The `.toHaveBeenCalledTimes` expectation suggests is a function, but where did it come from that it gets called inside `useSideEffect` and then we can test that it was called indeed?

Or perhaps let's work with an actual-but-simplified example. Take this hook, for instance:

[code]

How do you test not onl

[2019-01-07 19:16] kentcdodds commented on #261
Good point. That's a good example of a hook that this wouldn't really serve well I think...

Can you think of a way that we could simplify testing a hook like that as well? What's the typical way that you test that kind of hook?

[2019-01-07 20:00] j-f1 commented on #261
How about this API?
[code]

For simple hooks like this one, you can just pass the hook function, but it also makes it easy to pass custom parameters.

[2019-01-07 20:01] alexkrolick commented on #261
Can't find it in the docs so it's probably in the RFC, but the React team said they would provide a way to test hooks in react-test-utils.

Without that or a testHook helper here, using jest.spy or jest.fn mocks could work:

[code]

[2019-01-10 02:55] IsaaX commented on #154
I also ran into this issue and for those who stumble upon this I'd like to give them a heads up.

So I was using mocha, assuming clodal was also using mocha due to that 'step' he is using in the example. He couldn't reproduce due to the environment being jest meaning it has jsdom built into it so formik ended up using the global `HtmlButtonElement` aka (window.HtmlButtonElement) correctly (as it w

[2019-01-13 09:55] edi9999 commented on #249
yes, I just did a little bit of digging.

This is a jsdom version difference.

With jsdom 11.5.1 I have the same issue in my example.

jest wants to keep compatibility for node 4 and node 6 I think, that is why they are stuck on 11.5.1 but it is possible to change the jsdom version with the package : `    "jest-environment-jsdom-thirteen": "^0.0.2",`

[2019-01-13 09:55] #249 closed

[2019-01-13 14:05] sagar-gavhane opened #263 "After calling fireEvent.change method. error message not showing in container. (Formik + Yup)"
I have created register form with Formik and Yup. I have to write a test for a case that, if a user enters an invalid email address then a test should ensure that we're showing an appropriate error message to a user. but I haven't get that dom node after `fireEvent.change()` method. I'm pretty new to react-testing-library.

- `react-testing-library` version: 5.4.4
- `react` version: 16.7
- `node`

[2019-01-13 15:01] kentcdodds commented on #263
Rewrite it this way then think about why it works and your old way doesn't:

[code]

This would be even better:

[code]

It's all in what the DOM looks like at the time your query runs.

[2019-01-13 15:01] #263 closed

[2019-01-14 02:45] chasen-bettinger opened #264 "fireEvent.change not calling mock function"
- `react-testing-library` version: 5.4.4
- `react` version: 16.3.2
- `node` version: 10.14.2
- `npm` (or `yarn`) version: 1.13.0

### Relevant code or config:

Here is my tree structure for the related element:

[code]

[code]

### What you did:

yarn jest --watchAll

### What happened:

  Expected: 1
  Received: 0

### Problem description:

This should have called my mock function on change.

###

[2019-01-14 02:46] kentcdodds commented on #264
For react to actually call your callback function, the change event has to change the value somehow, so try this:

[code]

[2019-01-14 02:46] kentcdodds commented on #264
If you have further questions, please ask on the official support channel: https://spectrum.chat/react-testing-library

[2019-01-14 02:46] #264 closed

[2019-01-14 02:47] chasen-bettinger commented on #264
That works - thanks for the quick support. You're the man!

[2019-01-14 23:39] SavePointSam opened #265 "[types] RenderResult.container of type HTMLElement"
The current typing of RenderResult.container leads to an error when trying to use container.firstChild.

Not all `HTMLElement`s have a `firstChild` property. Since we know [`container` should always be a `<div />`](https://github.com/kentcdodds/react-testing-library/blob/master/src/index.js#L14), it should be `HTMLDivElement`.

[2019-01-16 13:22] julienw opened #267 "Better testing of input checkbox/radio"
I found out that it's not possible to get the status of a checkbox using a simple assertion like `expect(container.firstChild).toMatchSnapshot()` because the checkbox's state isn't in the DOM. You can see the snapshots for both states here: https://github.com/julienw/testcase-react-testing-library/blob/testcase-1/src/__tests__/__snapshots__/hello.js.snap. Both snapshots have:
[code]

You can run t

[2019-01-16 14:40] julienw opened #268 "Can't use MouseEvent properties that aren't supported by jsdom"
I'm migrating our tests from enzyme to react-testing-library and encountered a roadblock. Indeed some of our code relies on the properties `offsetX` `offsetY` `pageX` `pageY` of a MouseEvent instance. In Enzyme we could simply pass these as part of a `simulate` call.

But because `fireEvent` relies on real DOM events, and we rely on `jsdom`, and `jsdom`'s `MouseEvent` doesn't support these propert

[2019-01-16 14:43] kentcdodds commented on #267
Interesting. I'd be fine linking to a serializer, but I don't think I want to include one. The reason is that I'm not a huge fan of using snapshots for testing UI. I typically encourage more granular and specific assertions.

That said, if you build a serializer that supports this and it gets sufficient traction then maybe we could built it in. Actually, this may be a good thing for [jest-dom](htt

[2019-01-16 14:43] #267 closed

[2019-01-16 14:52] kentcdodds commented on #268
Unfortunately yes. It does seem odd that even if you provide the values explicitly it doesn't support adding those 🤔

You could also consider testing those things in cypress (with cypress-testing-library) or karma.

I don't think there's anything we can do in this project though :-(

[2019-01-16 14:52] #268 closed

[2019-01-16 14:53] kentcdodds commented on #261
I'm going to close this until we start seeing common enough patterns to warrant a utility.

[2019-01-16 14:53] #261 closed

[2019-01-16 15:02] julienw commented on #268
That's because that's not how the MouseEvent constructor is supposed to work. According to the spec it only accepts `clientX` `clientY` `screenX` and `screenY`, and computes the other properties. JSDom obeys the spec :)
I guess that's the price of using real events instead of using mocks.

[2019-01-16 15:12] kentcdodds commented on #268
Yeah, that's why I say I'd typically use a real browser for situations where I need those things.

I wonder if there'd be a way to mock this sufficiently to do this in jsdom though. If you figure it out please let's add [an example](https://github.com/kentcdodds/react-testing-library-examples)!

[2019-01-16 16:24] gnapse commented on #267
Took note. Thanks for the referral. It does sound like something jest-dom could fit in better, because this project is not jest-specific (the main reason for which custom matchers were extracted into jest-dom in the first place).

[2019-01-16 17:45] julienw commented on #268
This seems to work for me (with some Flow typing on top of it):
[code]

Then I'd use this with `fireEvent` directly, not `fireEvent.mouseMove`. Also I don't know how this behaves in implementations that actually implement these properties (I believe they would be non-writable, and so the `Object.assign` would fail). In that case we may want to extends `Event` instead of `MouseEvent` and redefine a

[2019-01-16 18:05] alexkrolick commented on #268
JSDom would be the main place to look for this support, but maybe our friendly neighborhood user-event helper might be willing to add in these extra properties...
https://github.com/Gpx/user-event

[2019-01-16 18:13] alexkrolick commented on #267
This isn't something that JSDOM will support either since the .value and value attribute are different things. It only works because React components have the value prop declaratively synced with the .value, so a string serialization doesn't know the difference.

https://codepen.io/alexkrolick/pen/NELEKE?editors=1011

This is a common source of bugs outside React.

[2019-01-16 18:48] kentcdodds commented on #268
That seems like a pretty good workaround (especially considering this is not a typical necessity). Would you be willing to add an example of this workaround until we can get it built-into something like user-event as @alexkrolick mentioned?

[2019-01-16 19:50] julienw commented on #268
(note: slightly updated the workaround, I made a mistake in the `Object.assign` call).

I can work on adding an example, but more likely on Friday or Monday.

[2019-01-16 19:52] julienw commented on #267
I know the React folks will change their way of handling inputs in React 17, moving out of controlled inputs.

[2019-01-18 03:03] zhaozhiming opened #269 "fireEvent.keyPress not fire in test"
- `react-testing-library` version: 5.4.4
- `react` version: 16.5.2
- `node` version:  10.0.0
- `npm` (or `yarn`) version: yarn 1.9.2

### Relevant code or config:

[code]

### What you did:
run test

### What happened:
test failed

### Reproduction:
https://codesandbox.io/s/jrv9v845v

### Problem description:
When use fireEvent.keyPress, the input keyPress event not fired.
I found the doc  about t

[2019-01-18 20:43] DmacLoyaltyOne opened #270 "New Documentation is Not Searchable"
### Problem description:

When going to github page, I am no longer able to search specific api's in documentation.

Before: Go to Github Page -> Ctrl + F -> Search for an API term -> See Usage and Examples
After: Go to Github Page -> Read Docs -> Read Docs -> Ctrl + F 'fireEvent' -> ???

### Suggested solution:

I would suggest adding a search to the Documentation, as I know what I am looking for

[2019-01-18 20:45] kentcdodds commented on #270
Hi @DmacLoyaltyOne, thanks for the feedback. You're totally right. We can solve this problem and there's an issue to track this already: https://github.com/alexkrolick/testing-library-docs/issues/3

We just need to get that working. I think it actually should be pretty straightforward.

[2019-01-18 20:46] #270 closed

[2019-01-19 11:48] baruchvlz commented on #269
I decided to dig into this a little bit. Adding `input.addEventListener('keypress', console.log);` shows that the event is indeed dispatched but for some reason React isn't calling the function.

[2019-01-20 14:51] kentcdodds commented on #269
Awesome! Would anyone be willing to add a note about this in the docs?

[2019-01-20 14:52] puemos commented on #269
I'm on it 😎

[2019-01-20 15:33] baruchvlz commented on #269
Maybe have a fallback in the library where if the user has `code` and not `charCode` then set `charCode` to the value of `code`.

[code]
I feel this is too much coding for failure, but I still wanted to suggest it.

[2019-01-20 16:04] kentcdodds commented on #269
Ah, good ideas.

I think let's start with the suggestion from @puemos. Not sure how I feel about @baruchvlz's idea. I worry it could lead to confusion and potentially hide problems 🤔

[2019-01-20 16:14] baruchvlz commented on #269
@kentcdodds Yea, I agree that it could lead to confusion. It also feels like it's trying to solve one specific scenario which doesn't go at-par with the library. In any case, I still wanted to suggest it 😃

[2019-01-20 16:53] kentcdodds commented on #269
This fix by @puemos will be released momentarily! Thanks!

[2019-01-20 16:53] #269 closed

[2019-01-20 18:53] alexkrolick commented on #269
I think their might be differences in how browsers fire keypress events - I don't see handleKeyPress being called at all when I type in the codesandbox on mobile Chrome. `onKeyDown`/`onKeyUp` do get called.

[2019-01-21 12:30] donavon commented on #261
Hello all. Kent pointed me to this issue and I thought I'd join in. I had a discussion with @kentcdodds on some tests that I was writing and he pointed me to his YouTube video on testing hooks.

Based on his work, I published a general purpose package called [`react-proxy-hook`](https://github.com/donavon/react-proxy-hook) which initially only supported objects as return values from Hooks. I've mo

[2019-01-21 21:38] SavePointSam commented on #265
needed to add dom libs to my tsconfig.

[code]

[2019-01-21 21:38] #265 closed

[2019-01-21 22:00] alexkrolick commented on #261
@donavon I like the idea. It's a clean API.

My concern is the caveat you mentioned - you can't destructure the result, which looks different than the standard way of consuming the hook so it will likely cause some people to struggle with a strange error. This is especially true for array results, which are "idiomatic" if you mimic the built-in hook APIs.

It also does obscure the fact that hooks

[2019-01-21 22:19] kentcdodds commented on #261
Interesting idea Alex! Hmm... What does everyone else think? I think I like it.

[2019-01-22 04:07] alexkrolick commented on #261
👍 to the single callback especially for passing arguments to the hook

[2019-01-22 11:44] donavon commented on #261
Now... What do we call this thing?

- `hookTester` isn't catchy enough. Plus "tester"?
- `renderHook` is synonymous with `render`. (maybe??)
- `testHook` (Kent's original above)
- `proxyHook` is what I used in my other package.

Even though I'm not a super fan of using "render", I think `renderHook` will drive the point across that you use it to render (or use) the hook.

p.s. Instead of a `render

[2019-01-22 11:49] gnapse commented on #261
`testHook` seems pretty straightforward and to the point, you can't get it simpler than that

[2019-01-22 11:53] j-f1 commented on #261
`useHook`?

[2019-01-22 14:41] donavon commented on #261
I was going to put `useHook` in my list, but didn't want to be the one who said it first. It's just wrong.

[2019-01-22 16:26] eschiebel opened #273 "Change props on same component instance, reprise"
- `react-testing-library` version:5.4.4
- `react` version:16.7.0
- `node` version: v8.10.0
- `npm` (or `yarn`) version: yarn 10.1.1

### Relevant code or config:
in a previously closed ticket https://github.com/kentcdodds/react-testing-library/issues/65#issuecomment-385529996 you suggest calling
[code]
to rerender with new props, but when I do this, the existing instance is not updated, but I get

[2019-01-22 17:11] donavon commented on #261
Moving this along... #274

[2019-01-22 20:43] puemos commented on #273
[code]
probably needs to be:
[code]

[2019-01-23 08:30] #273 closed, assigned to nobody

[2019-01-23 16:43] rug1 opened #275 "onChange is called when checkbox is disabled"
Hi 👋 Thanks for the great library! Think I may have found a bug but if not I would love to know what I'm doing wrong here.

- `react-testing-library` version: 5.4.4
- `react` version: 16.7.0
- `node` version: 10.15.0
- `npm` (or `yarn`) version: yarn 1.10.1

### Relevant code or config:

[code]

### What you did:

I wrote a test to check that a checkbox `onChange` function would not be called if t

[2019-01-24 12:50] puemos commented on #275
## short answer

[code]
should use onClick listener

## example

https://codesandbox.io/s/j22y6pl21y

## source

https://github.com/facebook/react/blob/c954efa70f44a44be9c33c60c57f87bea6f40a10/packages/react-dom/src/events/ChangeEventPlugin.js#L211
[code]

[2019-01-24 14:10] kentcdodds commented on #275
Thanks @puemos, but the fact is that the tests function differently from when you do this in an app. You definitely should be able to use onChange like this and fire a click event. Something else is up 🤔

[2019-01-26 13:02] lourenci commented on #275
I don't know if this is a problem, but either `disabled` or `disabled={true}`, `render.debug()` shows me `<input disabled="" />`. If I create a component in React in this way, the input is not disabled, so you can click on it.

Could it be a problem with the jsdom?

[2019-01-30 16:55] lourenci opened #276 ".focus is not focusing on the input"
Hi, thanks for the library. I think I have found a bug and I want to get some help here.

- `react-testing-library` version: 5.4.4
- `react` version: 16.5.2

### Relevant code or config:

[code]

### What you did:

I want to focus on an input and assert about that.

### What happened:

The test fails to check the activeElement. The received element is the `body`.

### Reproduction:

[![Edit issue-

[2019-01-30 17:52] gnapse commented on #276
In my experience, focus is not assigned instantaneously to an element. It happens asynchronously, so you may want to wrap that `expect` inside a

[code]

Also, if this still does not work, it is most likely a jsdom issue rather than an issue with this library. This library is not responsible for setting `document.activeElement`.

Finally, take a look at [jest-dom's `toHaveFocus` custom matcher](ht

[2019-01-30 18:42] lourenci commented on #276
Hi, @gnapse, thanks for the feedback.

I tried the first way waiting for the focus without success. I tried to assert the same test in my environment with jest and jsdom to be sure of that.

I'm going to look for something in the jsdom for some related issues.

[2019-02-01 19:13] kimfucious opened #277 "Nested object renders at [Object]"
- `react-testing-library` version: 5.4.4
- `react` version: 16.7.0
- `node` version: 10.13.0
- `yarn` version: 1.13.0

### Relevant code or config:
**Test File**
[code]
**Component Being Tested**
[code]

### What you did:

I ran a test that renders a list item using an object with a nested object (e.g. photo).
**Object**
[code]

### What happened:

The test file crashes when rendering with the fol

[2019-02-01 20:01] kentcdodds commented on #277
Can you make a reproduction on code sandbox or in a GitHub repo?

[2019-02-02 16:04] kentcdodds commented on #277
Glad you got it worked out 😀 and glad that you're looking the library!

[2019-02-02 16:05] kentcdodds commented on #277
Oh and the docs have learning material listed here: https://testing-library.com/docs/learning

Though a tutorial would probably be helpful!

[2019-02-03 15:30] kimfucious commented on #277
Hi Kent,

Thanks for pointing me to the learning materials.

It's not quite ideal for a person trying to learn the library/product, IMHO.

I'd be interested in drafting some tutorials (written and, possibly video), if you (or some you might designate to help) would act as a technical resource  (and if you think the community would benefit) so as to ensure that I'm not writing a bunch of hooey.

If

[2019-02-04 04:05] lgandecki commented on #277
Hey Kim, how would your tutorial be different from the materials at https://testing-library.com/docs/learning ? I think, if anything, there could be a better explanation/categorization on that page for what all those materials are. With recommendation where to start, where to look for more advanced or specific information, etc.

[2019-02-05 14:15] thomasfl commented on #36
I couldn't make any of these solutions to work, so I went for a quick and dirty solution:.

[code]

[2019-02-05 14:35] kimfucious commented on #277
Hi @lgandecki, that's a fair question, and, frankly, my answer is:  "I'm not sure, yet, but probably my own ignorance" 😉

The thought that sprouts to my mind is "barrier to entry for noobs".  Let me say first, that I'm not "picking on" react-testing-library" in particular.

I'm understanding it more with each test I try to make pass, and my appreciation grows, in tandem.

The library has my attent

[2019-02-06 09:52] gpetrioli commented on #276
`fireEvent` internally uses the [`dispatchEvent`](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/dispatchEvent) method of the element which only triggers the bound handlers to that event. It does not trigger the UI (*browser*) behaviour of that event.

So if you bind events for the `focus` event they will be triggered, but the element will not receive focus. You could run `container.

[2019-02-06 11:37] chrisprobably opened #279 "Support ES5"
### Describe the feature you'd like:

I'd like react-testing-library to build an ES5 compatible build.  At the moment, I can see there are arrow functions in dist/index.js of version 5.4.4.

### Suggested implementation:

Suggest the same fix as https://github.com/kentcdodds/dom-testing-library/issues/160

### Describe alternatives you've considered:

### Teachability, Documentation, Adoption, Mig

[2019-02-06 16:11] FredyC opened #281 "[5.5.0] Getting warning about "act" anyway"
Thanks for the fast work Kent, but seems something is still off. I've updated to 5.5.0 and tests are still generating same act warnings. Am I missing something here? Do we need to actually use `act` inside the tests?

https://travis-ci.org/mobxjs/mobx-react-lite/builds/489613981

It's curious that I've actually removed a bunch of `flushEffects` calls which were necessary before and tests are passi

[2019-02-06 16:36] threepointone commented on #281
I can't see your tests, but I'm *guessing* you're triggering some changes 'manually' (ie - without fireEvent). those calls should be wrapped with `act()` too.

[2019-02-06 16:43] FredyC commented on #281
Funny enough there is not a single `fireEvent`. It's a MobX library which kinda works around reactions :) Ultimately it all boils down to [this piece of code](https://github.com/mobxjs/mobx-react-lite/blob/c363c9f6bf9ed7b9246700f297cda8bdd6cde77a/src/useObserver.ts#L16) which is just `useState` incrementing integer for each update.

I guess I will wait when you can have a look at those test files

[2019-02-06 16:45] panjiesw commented on #281
Just got bitten by this, upgraded to 5.5.0, remove `flushEffect` and the warning is still there. I use `fireEvent` from `react-testing-library`. Double check the js file, and it's indeed using wrapped `fireEvent` of `dom-testing-library` inside `actCompat` callback.

[2019-02-06 17:39] kentcdodds commented on #281
A codesandbox would be very helpful.

[2019-02-06 17:46] kentcdodds commented on #276
I'm honestly not sure what the right thing is for solving this problem 🤔

[2019-02-06 17:47] kentcdodds commented on #279
Hmmm... Where are you running your tests?

[2019-02-06 17:50] kentcdodds commented on #279
I'm going to do the same fix as in dom-testing-library, but I'm just curious what environment you're running your tests in that doesn't support arrow functions.

[2019-02-06 17:53] #279 closed

[2019-02-06 17:56] kentcdodds commented on #279
:tada: This issue has been resolved in version 5.5.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v5.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-06 17:56] chrisprobably commented on #279
Great, thanks :). We're using karma, webpack and Babel. We don't normally transpile dependencies in node_modules.

[2019-02-06 17:57] kentcdodds commented on #279
Gotcha. So I take it that you're running some of your tests in IE then?

[2019-02-06 17:58] chrisprobably commented on #279
Yes, we run them in IE11.

[2019-02-06 17:59] threepointone commented on #281
yeah I can't help more without a working example, sorry, basically shooting blind.

[2019-02-06 18:13] alexkrolick commented on #276
It's surprising JSDOM doesn't handle this, unless there is a layer on top of the DOM in the browser that does more stuff. Maybe we could "polyfill" that behavior in https://github.com/Gpx/user-event

[2019-02-06 18:24] kentcdodds commented on #276
So if we run this in the browser, does it work? If that's the case then maybe we can fix it in JSDOM? That's probably best.

[2019-02-06 18:31] panjiesw commented on #281
Yeah, that change event basically also trigger bunch of effects (async processing) behind the scene, which when resolved updates other state.

I tried to simulate it in this sandbox https://codesandbox.io/s/rjnwr62v5o

The component is in `src/input.js` and the test is in `src/__tests__/input.js`. As you can see there, the test passed, but the warning also appeared in the console.

[2019-02-06 18:35] ajlende opened #283 "Custom Hooks with useContext"
First, I'd like to thank you for getting `react-testing-library` updated so quickly after the release of hooks!

### Describe the feature you'd like:

I'd like to add an option to `testHook()` for testing custom hooks that use `useContext()` and need to be wrapped in the `Provider`.

Below is a minimal (albeit silly) example of how `useContext()` could be used in a custom hook. I've used `useConte

[2019-02-06 18:40] kentcdodds commented on #281
Gotcha, so what @threepointone said is true:

So it's working as designed.

I'm honestly not sure how to account for situations like this though. What do you think Sunil?

[2019-02-06 18:40] kentcdodds commented on #283
I'm in favor. What do you think @donavon?

[2019-02-06 18:41] kentcdodds commented on #283
Actually nevermind.

I honestly think that `textHook` is a bit of an edge-case utility and I don't want to make it overly complex.

I suggest just going with the alternative you've described. That's a lot simpler IMO...

[2019-02-06 18:43] FredyC commented on #281
I am kinda unclear what "manual update" means. Is calling the `useState` considered a manual update? Isn't that going to be in nearly every component? That would make writing tests somewhat more annoying.

[2019-02-06 18:44] alexkrolick commented on #283
Yeah the only one that seems general enough to maybe include would be the fixture idea in #2 which is something that could also be added to render itself.

[2019-02-06 18:44] threepointone commented on #281
Heading home so I’ll get to this in a bit, but tldr - jest.useFakeTimers/jest.runAllTimers should help. Back in an hour.

[2019-02-06 18:47] kentcdodds commented on #281
Regarding the call stack.

Any time you call a state updater function like `this.setState`, or `dispatch` or `setState`, if that's not happening within the call stack of a batch update in react then you'll get this warning because it basically means you're test is doing something that wouldn't happen in the browser (this is where things get fuzzy for me, I'm not sure why that is).

Anyway, the `ac

[2019-02-06 18:50] ajlende commented on #283
Adding a fixture to render would do the job. I really liked the simplicity of not having to deal with components when testing the custom hook. In the more complicated case that I have, I'm also using `useState` and `useEffect` in my hook, so it's not always just a case of getting text from the context.

[2019-02-06 18:55] kentcdodds commented on #283
I recommend you give this a quick watch: https://www.youtube.com/watch?v=0e6WCQYg5tU&index=22&list=PLV5CVI1eNcJgCrPH_e6d57KRUTiDZgs0u

Then I recommend you create a `setup` function that works like that.

[2019-02-06 18:56] FredyC commented on #281
I've prepared another [code sandbox](https://codesandbox.io/s/vqrqvom48y?module=%2Fsrc%2Fmobx.test.tsx&previewwindow=tests) reproducing the issue and I am unclear how to fix it.

The warning comes from the first test. Second test is failing and last one is the only working, but super ugly and I really hope there will be a better way.

[2019-02-06 19:03] panjiesw commented on #281
@FredyC I got it working for the first test without warning:

[code]

AFAIK, this is consistent by the `react-dom/test-utils` docs, it's just that the example in the docs is firing event, but basically the same as updating state.

[2019-02-06 19:05] threepointone commented on #281
^ this is correct. I’ll edit the docs to be clearer to say that you need to wrap anything that causes updates to be wrapped.

[2019-02-06 19:08] FredyC commented on #281
Ah, now that is starting to make sense, but it's ugly nonetheless considering that this was working just fine pre-16.8. I was kinda hoping that with the official release there will be an improvement to testing experience, not that it will even worse :/ 😢

[2019-02-06 19:17] kentcdodds commented on #281
Hmmm... I'm still not certain how to solve for cases like this:

[![Edit react-testing-library-examples](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/x62joq09q?module=%2Fsrc%2F__tests__%2Fasync-hook.js&previewwindow=tests)

[2019-02-06 19:18] panjiesw commented on #281
I get the intentions though, by avoiding the warning we can be sure that the state update is intended. Same with `mobx` under strict mode where `observable` mutation must be used within `action`, `runInAction` and its family.

But then the `strict` mode is configurable in `mobx`. So, maybe make `act` requirement somehow configurable? I don't know if it'll make things easier or more complicated

[2019-02-06 19:19] FredyC commented on #281
And another use case where it will be even more annoying.

[code]

And in the TypeScript world this means falling back to `any` escape hatch because it will complain seriously about such use.

@panjiesw

That might be true, but those warnings don't really give a useful hint where in the code is the problem happening. It would need to be improved for sure.

[2019-02-06 20:25] threepointone commented on #281
are you not seeing a stack trace under your warning?

just got home, working on your fetch example @kentcdodds

[2019-02-06 20:27] threepointone commented on #281
Consider that this will make your tests more reliable. This is apparent most when you fire multiple events in a row, effects cascade (or even just get triggered). I wouldn't be surprised if fixing all the warnings leads to discovering actual bugs in your code. That was my experience when doing the same for fb.

[2019-02-06 20:31] FredyC commented on #281
@threepointone

Not really, you can see the output in code sandboxes presented here or in my linked Travis. Jest is only showing the line where console.error got called: `node_modules/react-dom/cjs/react-dom.development.js:506`. Should I open react issue about improving so it's actually helpful? :)

A good thing is I've managed to fix mobx-react-lite tests and it working just fine. I guess in time

[2019-02-06 22:57] alexknipfer commented on #281
I'm still seeing the `act` warning with some of my tests as well. Unfortunately, I cannot share the source, however, I can give as much context as possible. I have a `useEffect` hook that makes an axios request and stores the result in state (using setState), which seems to be causing the issue.

Here is what one of my tests look like for a context provider:

[code]

The tests succeeds, however I'

[2019-02-06 23:20] ajlende commented on #283
Thanks for sharing that video. I ended up doing this for my helper which I'm pretty happy with—it's closer to the existing `testHook` API. I can open a PR with an example like this if you think it would help other folks figure this out.

[code]

[2019-02-06 23:52] dclaude commented on #281
[![Edit act](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/w229qllnkl)
same problem as the one described in the last post of Kent

[code]

[2019-02-06 23:59] kentcdodds commented on #283
I think maybe this would be good in: https://github.com/kentcdodds/react-testing-library-examples

What do you think @alexkrolick?

[2019-02-07 00:08] alexkrolick commented on #283
Yes, with the addition of some tests showing how to use it. Probably wouldn't want to even export the `testHookWith` helper - keep it local to the test for the particular hook.

Note that this is pretty much the recommended approach for anything requiring context.

[2019-02-07 00:28] kentcdodds commented on #283
Would you be willing to open a pull request for that @ajlende? You could do it [in the browser](https://www.youtube.com/watch?v=3PAQbhdkTtI&list=PLV5CVI1eNcJgCrPH_e6d57KRUTiDZgs0u) :)

[2019-02-07 09:35] marcin-piela commented on #281
It should working:

`test("renders data", async () => {
  jest.useFakeTimers();

  const spy = jest
    .spyOn(Fetch, "doFetch")
    .mockReturnValue(Promise.resolve(createResponse(items)));
  const { getAllByTestId } = render(<Items />);

  act(() => {
    jest.runAllTimers();
  })

  const elements = await waitForElement(() => getAllByTestId(dataTestIdItem));
  expect(elements.length).toBe(items

[2019-02-07 10:37] ghengeveld commented on #281
So I'm currently updating the [tests for useAsync](https://github.com/ghengeveld/react-async/blob/master/src/useAsync.spec.js) to work with 16.8, hitting this exact problem.

I tried using `{act}` from react-dom/test-utils, as well as the `useFakeTimers` trick mentioned above. So far I wasn't successful. Any pointers would be great.

[code]

Wrapping stuff with `act` is really annoying, as it does

[2019-02-07 13:00] mastertinner opened #284 "waitForElementToDisappear"
### Describe the feature you'd like:

I love the `waitForElement` function. However, there are cases where I don't add an element but rather remove existing ones. Is there a similar `waitForElementToDisappear` function or is there an easy way to achieve that using the existing functions?

### Suggested implementation:

[code]

Currently I'm using `process.nextTick` but that seems like a hack to me

[2019-02-07 14:45] kentcdodds commented on #284
Could you open this issue in [dom-testing-library](https://github.com/kentcdodds/dom-testing-library/issues)? That's where this work will be done. I'm thinking I'm in favor.

[2019-02-07 14:47] #284 closed

[2019-02-07 15:03] threepointone commented on #281
just a heads up, I've been wanting to answer this in detail, but just swamped with a bunch of other things with the team. we're aware of the problems, promise. I'll ping here when I have something to share.

[2019-02-07 15:04] ghengeveld commented on #281
Good to know you're aware. I trust you'll come up with a good solution. Keep up the good work!

[2019-02-07 22:47] andre2 commented on #283
hm... I have a problem with writing tests for useContext... I tried in many ways but I don't know how to do it, can I count on help? https://codesandbox.io/s/r5v937mm0o

I have an `Alerts` component that takes from the context with "alerts" prop, I don't know how test render of the view of this component...

[2019-02-08 11:33] helabenkhalfallah opened #285 "Testing Async Hooks"
I want to test UsersList  with call an async hooks fetch :

[code]

[code]

[code]

**Test :**

[code]

But I got :

1/ always
[code]

2/ titleNode always null.

How should be my test to test Component = UI + Hooks ?
How to await for useService Hooks to end ?

Thanks :)

[2019-02-08 15:11] kentcdodds commented on #285
Hi @helabenkhalfallah,

We're still trying to figure out the best way to avoid that new warning in React 16.8.0

I'm going to go ahead and close this in favor of our existing discussion: https://github.com/kentcdodds/react-testing-library/issues/281

As well as the discussion on React: https://github.com/facebook/react/issues/14769 (this is not really a react-testing-library issue).

[2019-02-08 15:11] #285 closed

[2019-02-08 15:17] helabenkhalfallah commented on #285
Hello @kentcdodds OK, but I have two issues :(
titleNode always null.

[2019-02-08 15:18] helabenkhalfallah commented on #285
[code]

titleNode always null.

[2019-02-08 18:09] kentcdodds commented on #285
Hi @helabenkhalfallah,

Could you ask this on the official community support channel please? https://spectrum.chat/react-testing-library

Thanks, and good luck!

[2019-02-08 18:21] helabenkhalfallah commented on #285
OK thank you :) :)

[2019-02-08 23:28] alexzherdev opened #287 "5.5.3 breaks testing for React 15"
- `react-testing-library` version: 5.5.3
- `react` version: 15.6.2
- `node` version: 10
- `npm` (or `yarn`) version: yarn 1.13

### Relevant code or config:

[code]

### What you did:

Just recently installed the library and was trying to write my first tests. Everything was working fine until I updated to 5.5.3.

### What happened:

Trying to render anything in tests results in `ReactDOM.render()

[2019-02-08 23:37] kentcdodds commented on #287
Ah, yep, that'll do it. The fix is to render `<div />` instead of `null`. Want to make a pull request for that?

[2019-02-08 23:56] #287 closed

[2019-02-08 23:59] kentcdodds commented on #287
:tada: This issue has been resolved in version 5.5.4 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v5.5.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-09 00:17] Andrewmat opened #289 "Testing useEffect callback"
### Describe the feature you'd like:

I've had this problem [on a personal project](https://github.com/Andrewmat/hooks/blob/master/src/hooks/useDocumentTitle.test.js) to try and create custom hooks.

The `useEffect` hook accepts a function as argument, and if this function returns another function, React will call it when the component unmounts

[code]

The testHook API already can test the useEff

[2019-02-09 00:34] kentcdodds commented on #289
Why don't we just return everything?

[2019-02-09 00:49] Andrewmat commented on #289
I think it would be an overkill, and since they all control the React element, I assume it *could* encourage some people to make tests basing on the TestHook component instead of the hook.
Although, I see the value of `rerender` to check the deps array of `useEffect`

[2019-02-09 01:29] kentcdodds commented on #289
True. Ok, I'm in favor of returning just what's need 👍

[2019-02-10 08:04] Tolsee commented on #275
@kentcdodds My feeling is there is a problem with firEvent somehow. Did not get the problem when a click is triggered in an element is self. Can you suggest me a best way to figure out the problem?

https://codesandbox.io/embed/yp996rqlyj

[2019-02-11 10:36] Andrewmat commented on #289
PR merged, I'm closing this issue

[2019-02-11 10:36] #289 closed

[2019-02-11 16:22] FredyC commented on #283
I want to add my two cents here. I believe that Context will become the go-to solution for mocking stuff. Today, I've tweeted the following.

[code]
https://twitter.com/danielk_cz/status/1094908590836596737

Point is that using more of such providers will make tests rather bloated. I am not saying it should be a part of `testHook`, but it's something that will be repeatedly useful for sure.

Hopef

[2019-02-11 16:23] brandon-lile commented on #281
Also running into the same issue. I'm curious if you're planning on incorporating `act` into RTL's functionality for things like `fireEvent` and `render`, or if we should go ahead and plan on wrapping all of our state updating actions in tests in an `act`?

[2019-02-11 16:26] FredyC commented on #281
@brandon-lile Imo it should become a good practice to wrap any state changes to `act`. It could be rather confusing if some of the state changes would be covered automatically and some not. Personally, I would keep it for an initial render only.

[2019-02-11 16:27] alexknipfer commented on #281
@brandon-lile `act()` has already been added to RTL with #280 . I think this issue still remains and is not caused by RTL, rather an issue on the react side of things.

[2019-02-11 16:35] brandon-lile commented on #281
Exactly what I needed to know. Thank you!

[2019-02-11 16:50] kentcdodds commented on #275
This is interesting. I created a vanilla JavaScript version of this:

https://codesandbox.io/s/q70qj31m46

[code]

The result is that the `input` and `change` handlers are called, but the `click` handler is not called. And the input actually gets checked despite being disabled.

I'm guessing this has something to do with a strange specification or something. If someone wants to investigate this fu

[2019-02-11 18:14] alexkrolick commented on #283
I'm somewhat I'm favor of adding a "wrapper [component]" option to render and testHook. The problem with wrapping render to provide your required helpers is you also need to reimplement rerender and that involves both "render"and  "act".

[2019-02-11 20:35] carlos-algms opened #291 "Typings for testHook are incorrect"
- `react-testing-library` version: 5.6.0

### Relevant code or config:

`node_modules\react-testing-library\typings\index.d.ts`

![image](https://user-images.githubusercontent.com/4634613/52591647-97659880-2e2b-11e9-8cbc-079211c4c064.png)

### Reproduction:
![image](https://user-images.githubusercontent.com/4634613/52591536-566d8400-2e2b-11e9-9cf3-7daaadae0bd2.png)

### Problem description:

It is

[2019-02-11 21:20] kentcdodds commented on #283
Why do you need to reimplement rerender? Wouldn't have to do that if you did this right? https://github.com/kentcdodds/react-testing-library/issues/283#issuecomment-461227966

[2019-02-11 21:32] alexkrolick commented on #283
Won't the rerender returned by the wrapped render not include the wrapping component?

[2019-02-11 21:38] kentcdodds commented on #283
You'd just do:

[code]

[2019-02-11 21:40] kentcdodds commented on #283
Oh, nevermind, I see now.... Hmmm, yeah. That rerender is a beast and pretty annoying to have to re-implement.

Ok, I'm in favor. But for the record I really want to avoid making `testHook` any more complex than it is currently.

[2019-02-11 21:40] kentcdodds commented on #283
And by that I mean: It's fairly simple and I don't think it should become complex.

[2019-02-11 21:51] alexkrolick commented on #283
Idea:

- Add `wrapper` to the options object for `render`
- Pass all options for `testHook` through to underlying render

[code]

[2019-02-11 22:12] kentcdodds commented on #283
I'm in favor :+1:

[2019-02-11 22:13] FredyC commented on #283
Definitely, like that idea as it would allow to supply more providers if needed or actually any other environment stuff that might be needed by a hook.

Btw, a slight correction of your example, it doesn't work the way you have here.

[code]

---
Implementation note: Please update TypeScript declaration accordingly.

[code]

[2019-02-11 22:27] alexkrolick commented on #291
Closed by #292

[2019-02-11 22:27] #291 closed

[2019-02-11 22:30] alexkrolick opened #293 "Add wrapper option to render/testHook"
See https://github.com/kentcdodds/react-testing-library/issues/283#issuecomment-462509256

- [x] testHook
- [ ] render

[2019-02-11 22:57] threepointone commented on #281
I'm working on a details post/proper fix, but to alleviate you all, I wrote some quick details here - https://github.com/facebook/react/issues/14769#issuecomment-462528230

[2019-02-12 08:55] FredyC commented on #293
I am thinking if we really need it as a `wrapper` option. I mean @kentcdodds is against making that utility more complicated and using options object would kinda imply to be open for further customization later. Besides, it would make things slightly more readable imo.

[code]

[2019-02-12 09:02] FredyC opened #295 "Return value of hook run with testHook?"
Honestly, it got me confused big time. Considering that most of the tests might actually want to validate the output of the custom hook I find it strange we need to do this.

[code]

So I would like to propose getting the output directly.

[code]

It can be compared to a `render` where we are getting `container` (and bunch of getters) to write our expectations. The `testHook` is kinda inconsistent

[2019-02-12 09:39] alexkrolick commented on #295
See https://github.com/kentcdodds/react-testing-library/pull/274#discussion_r250786841 for why this doesn't work - it's due to closures

[2019-02-12 09:45] FredyC commented on #295
Ok, in that case, we can do what I already mentioned somewhere else - return a getter.

[code]

Alternatively, the `useRef` approach with a `result.current`, but personally, I would prefer a getter.

[2019-02-12 09:56] alexkrolick commented on #293
I _think_ I still prefer the option object and here's why:

Positional arguments can be confusing for uncommon options. Someone new to a codebase can figure out what {wrapper} means but would have to look in the docs for the meaning of the second argument and might think it's somehow required.

For `render`, `wrapper` will fit in with the other options that already exist. You can say "the second a

[2019-02-12 10:13] FredyC commented on #295
Ok, I have prepared a proof of concept that both approaches work.

https://codesandbox.io/s/209nj999jy?module=%2Fsrc%2FtestHook.test.js&previewwindow=tests

[code]

Looking at it now I might move even more inclined to `result.current`.

[2019-02-12 10:30] FredyC commented on #293
Ok, I agree with your reasoning. I will take a stab at this probably today as I need it in my codebase anyway.

[2019-02-12 11:01] FredyC commented on #293
One thing might be rather confusing in case of more complex wrapper. What to do with passed `props` user might wonder.

[code]

In this case, the `props` are really just a `{ children }` because `testHook` is not passing any other props to `render` call. We would need to clearly document that these props need to be spread on the lowest element in the wrapper tree 😕

I was thinking for a moment to

[2019-02-12 12:01] carlos-algms commented on #291
Thank you so much for the fast solution.

[2019-02-12 14:06] kentcdodds commented on #295
I'm really struggling to understand how this is better than the current solution/example...

[2019-02-12 15:20] FredyC commented on #295
* It's much easier with TypeScript, because `let` without an initial value has no clue about the type that will come later (maybe)
* Imo it feels more natural to work with return value instead of hacking it inside the callback
* It's closer to API of `render`

[2019-02-12 15:54] kentcdodds commented on #295
Ah, I see, that makes sense. Couldn't you do:

[code]

I guess I can see how that could be annoying. I'd be fine with returning a ref so long as the existing solution still works.

[2019-02-12 17:21] FredyC commented on #293
@alexkrolick Feel free to close, forgot to use a magic word in the PR :)

[2019-02-12 17:42] #295 closed

[2019-02-12 17:45] kentcdodds commented on #295
:tada: This issue has been resolved in version 5.8.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v5.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-12 18:20] FredyC commented on #283
This can be also closed now, implemented in #296

[2019-02-12 18:21] #283 closed

[2019-02-12 19:14] alexkrolick commented on #293
@FredyC good point that figuring out where to put ...props is confusing. Better to destructure ({children}) in the docs I think.

[2019-02-13 10:21] karimjavith opened #299 "Router-Redux: fireEvent is not changing the route"
- `react-testing-library` version:5.6.0
- `react` version:16.8.1
- `node` version:8.12.0
- `npm` (or `yarn`) version:6.4.1

### Relevant code or config:

[code]

### What you did:

I am using redux and router to test my component. The navigation works via setting the route and the fireEvent is not triggering the route and renders same previous component. In other case, the fireEvent works and the

[2019-02-13 14:38] seyaobey opened #300 "TypeError: Cannot read property 'now' of undefined"
I am trying to introduce `react-testing-library` in an existent project which has used jasmine/enzyme until now. I am getting a runtime error when I run my tests. It looks like `react-testing-library` is clashing with other libraries in my project (maybe the existing `enzyme`).  Here are the specs:

- `react-testing-library` version: 5.8.0
- `react` version: 16.4.1
- `node` version: 10.13.0
- `npm

[2019-02-13 16:23] bhagatali commented on #191
@taqimustafa did you ever find what the cause for this is? I am seeing a similar problem and could use some pointers.

[2019-02-13 17:52] alexkrolick commented on #300
Were you mocking the date object?

[2019-02-14 00:54] bhagatali commented on #191
Never mind, I found the problem. This was caused because there was a `jest` mock of the `react-dom` to stub out the `findDOMNode` that was causing this problem. We revisited the way the mock was being performed and it works now.

[2019-02-14 09:29] seyaobey commented on #300
@alexkrolick yes. the data object is just a an array of key-pair values.

[2019-02-14 18:50] Grsmto opened #301 "Doc encouraging user to use `title` instead of `aria-label`"
Hi,

### Problem description:

The documentation gives the [following](https://testing-library.com/docs/guide-which-query#priority) statement: `The title attribute is usually more accessible by screen readers than mouse/visual users`. However [the official W3C WAI tutorial](https://www.w3.org/WAI/tutorials/forms/labels/#using-the-title-attribute) says pretty much the exact opposite:
`[The title at

[2019-02-14 18:54] alexkrolick commented on #301
That statement was meant to reflect this:

The title attribute is not visible on the screen except when hovering, but is read by assistive technology. So selecting by title is less representative of how a sighted user would find elements. Label tags and aria-label are visible on screen and read out by a assistive technology.

[2019-02-15 17:23] Dianoga commented on #300
_date_ needs to be mocked. JSDom doesn't do that automatically. In my setup I added `window.Date = Date`

[2019-02-16 15:58] kentcdodds opened #302 "Move testHook to its own pacakge"
It seems to be causing a lot of confusion for people and we definitely don't want application developers using it to "unit test" their hooks. Putting it into another package would make it easier for us to call out its true purpose and reduce the chance of misuse.

Thoughts?

[2019-02-16 16:02] donavon commented on #302
I'm all for this

https://twitter.com/donavon/status/1096061809499561984

`react-hooks-testing-library`?

[2019-02-16 16:03] kentcdodds commented on #302
You make it, and I'll make this happen

[2019-02-16 16:06] ooade commented on #302
Yeah 🤸

[2019-02-16 16:19] donavon commented on #302
I have some family obligations today, but will get on this as soon as I can. But go out and grab the npm name

[2019-02-16 16:55] donavon commented on #302
Um... https://www.npmjs.com/package/react-hooks-testing-library

[2019-02-16 17:02] kentcdodds commented on #302
Oh cool! Could you give it a look and open an issue for anything that's lacking/different and see if the maintainer is interested in doing/accepting what we need?

[2019-02-16 19:29] alexkrolick commented on #302
Well, we also pulled a Webpack and released with no docs. I think this is pretty prominently explained in the docs PR for testHook: https://github.com/alexkrolick/testing-library-docs/pull/32

The linked package seems pretty close in API.

[2019-02-17 05:13] mpeyper commented on #302
Hey, author of `react-hooks-testing-library` here.

I started out with a "what would `react-testing-library` do" mentality so I'm not surprised that API is pretty close.

As I said in [the other issue](https://github.com/mpeyper/react-hooks-testing-library/issues/1), it started out as a proof-of-concept from my perspective and I only updated it recently to match the stable hooks API in case anyone

[2019-02-18 14:54] ooade commented on #281
@threepointone I'm not sure the `act` should act that way. I didn't have any fire event in mine. All I had was an API request and a state change in useEffects after the request resolves.
https://stackoverflow.com/questions/54748942/why-does-react-hook-throw-the-act-error-when-used-with-fetch-api/54749499#54749499

[2019-02-18 15:02] seyaobey commented on #300
@Dianoga sorry if I missed something but there is not date in my code above. It is `data` which is just an array of key-pair values (needed in the hierarchy component):
`const data = [ { name: 'foo' } ]`

[2019-02-18 15:31] Gpx commented on #281
@ooade if I'm not wrong `act` is not about events but about state changes

[2019-02-18 15:49] Dianoga commented on #300
@seyaobey The testing library requires the `date` object to exist. So you'll need to set that up.

[2019-02-18 16:20] ooade commented on #281
@Gpx yeah, except that an event triggers the state changes 🤔
Here, it's useEffects since it happens after the component has mounted and the fetch API has resolved. But wrapping the component to be rendered in act doesn't solve this.

[2019-02-19 11:48] seyaobey commented on #300
@Dianoga Thanks for the answer. I have implemented your suggestion. Before my test I am mocking the Date object:
`window.Date = Date`

I am still getting the same error. Is there an example where this mocking is done because in the docs, this is not stated somewhere (I may be wrong). I have just followed the example of the github page.

[2019-02-19 12:11] seyaobey commented on #300
Ok, I was able to solve this error by `better` applying your suggestion @Dianoga

[code]

[2019-02-19 14:18] ValentinH commented on #281
This issue almost broke my excitement for hooks: we now have to introduce implementation details in our tests (`act()`) and it sounds weird to me now that I'm used to write clean tests wit RTL.

@threepointone documentation brings a lot of nice tricks: https://github.com/threepointone/react-act-examples but they still are introducing implementation details.

The following pattern was working seeml

[2019-02-19 14:50] FredyC commented on #281
@ValentinH I wouldn't really call that implementation detail. Welcome to the async world :) Since normally React won't do a bunch of stuff synchronously (are more is to come), then obviously you need some test utility to switch it back to synchronous way otherwise those tests would be super complicated.

If you recall (maybe not), before the `act` came to light, there was ugly hacks like double re

[2019-02-19 16:53] ken-kenware commented on #275
It looks like this may be a case where the spec was followed a little _too_ closely. According to the Spec:

In the vanilla JS example, we can see that it is in fact not dispatching the click event, but dispatching the remaining events.

My hypothesis is that browsers are doing some special handling for dispatching click events as opposed to other events in order to control ad clicking (I may be t

[2019-02-19 17:41] kentcdodds commented on #275
But that would be a change for react right? Not react-testing-library

[2019-02-19 19:14] ValentinH commented on #281
@FredyC I definitely understand your point about async and I do agree that act is much better than the previous solutions.

However, it's still an implementation detail in my opinion. I might be wrong but I think you could write a component having exactly the same behavior with a data fetching on load:
- in a class using `componentDidMount()`
- in a function using `useEffect()` (or even `useLayout

[2019-02-19 19:20] threepointone commented on #281
I’m working on editing the doc, in particular I’m looking to show how it’s useful for classes too. In the middle of a cold tho, so it might take a couple of days.

[2019-02-19 19:23] ken-kenware commented on #275
I don't think so. Since React is just proxying the event, they don't do anything around calling `dispatchEvent` to my knowledge.

My guess is that we need to do something here: https://github.com/kentcdodds/dom-testing-library/blob/master/src/events.js#L310

To account for the click event on ignored elements, and just swallow the event. This will mimic what the browser is doing under the hood (and

[2019-02-19 19:29] FredyC commented on #281
@ValentinH It's all about tradeoffs. With classes, you have only a single `componentDidMount` and you kinda have to pile up everything in there (and mix that with other methods too). The Hooks give you the ability to separate your side effect concerns in much cleaner and approachable way.

Btw, `cDM` to initiate data fetching was always kind of a hack. With Suspense coming later this year (hopeful

[2019-02-19 19:43] ValentinH commented on #281
No worries, I've watched this awesome video many times and I understand why Hooks are a huge improvements for React. 😍

Raising a concern about act doesn't mean I'm against hooks and I understand there might be tradeoffs.

My goal is simply to understand if something could be improved to avoid this and if I could help.

My main fear is having to teach how to test hooks to my colleagues while I was

[2019-02-19 19:54] alexkrolick commented on #281
One concern I have is why waitForElement() doesn't work if you don't call act(). It seems like the JSDOM env doesn't match the browser experience, which would eventually evaluate effects. I would like it be possible to use something like the proposed async queries https://github.com/kentcdodds/dom-testing-library/issues/203 for 90% of the use cases where you don't care about exact batching.

[2019-02-19 20:35] kentcdodds commented on #281
I'll also note that Sunil has some changes in mind which will make it so you rarely have to use `act` at all (because react-testing-library will do it for you) even in the async case.

[2019-02-19 20:36] ValentinH commented on #281
This would be awesome!

[2019-02-19 20:37] kentcdodds commented on #275
I think it will make more sense when I see a pull request. Anyone willing to open that up?

[2019-02-19 20:43] ken-kenware commented on #275
I'll work on it!

On Tue, Feb 19, 2019, 2:37 PM Kent C. Dodds <notifications@github.com>
wrote:

[2019-02-19 21:45] alexkrolick commented on #281
Taking a closer look at @threepointone's document, I feel like a lot of the examples, if not all, were already handled by existing dom-testing-library patterns.

For example:

<img src="https://user-images.githubusercontent.com/1571667/53049298-9ea02e00-344b-11e9-9da2-991ae8a24341.png" width=300 />

Even with classes the only way to test an async action in cDM was this:

[code]

And responding to

[2019-02-20 07:37] #293 closed

[2019-02-20 10:13] alexkrolick commented on #281
Put my questions into this repo: https://github.com/alexkrolick/react-testing-examples

[2019-02-20 15:31] 3nvi commented on #281
I know this is not a solution, but if someone wants to temporarily "mask" the warnings, he/she can try mocking the actual implementation of the `useState` and `useReducer` hooks, so that all the state updates are always wrapped in an `act()` .

That means mocking React with something like that:
/
[code]

Again I want to stress that **you are not solving the issue**, but masking the warnings until

[2019-02-20 17:38] ken-kenware commented on #275
PR:
https://github.com/kentcdodds/dom-testing-library/pull/217

[2019-02-21 12:16] mpeyper commented on #302
Just wanted to let you all know that I have published a `testHook` compatible version of react-hooks-testing-library ([v0.3.2 is the current version in NPM](https://www.npmjs.com/package/react-hooks-testing-library/v/0.3.2)).

[2019-02-21 12:32] adamborowski commented on #281
W would prefert to have complementary wrapper so you wrap your assertion rather modification.
Instead of guessing what may cause update.
[code]

[2019-02-21 19:37] karimjavith commented on #299
Can anyone help, please?

[2019-02-21 20:14] alexkrolick commented on #299
@karimjavith I think it's a Codesandbox issue - it works when I download your repro sandbox and run it.

<img width="505" alt="screen shot 2019-02-21 at 12 12 20 pm" src="https://user-images.githubusercontent.com/1571667/53198791-287a0380-35d2-11e9-8530-92ad0dea9f1b.png">

[2019-02-21 21:04] karimjavith commented on #299
@alexkrolick  The test in question is react-redux-router. could you please try it?

[2019-02-21 21:20] alexkrolick commented on #299
OK. That one fails.

[2019-02-21 21:32] karimjavith commented on #299
Not sure what is going wrong. The event listeners are not changing the location while navigation and vice versa.

[2019-02-22 00:45] alexkrolick commented on #299
The examples have their own repo - https://github.com/kentcdodds/react-testing-library-examples

Looks like the Codesandbox in general is failing in several files in the __tests__ directory, so it's hard to diagnose exactly what the problem is

[2019-02-22 03:48] oscarkwan opened #306 "Support for React 15 Context"
Will there be support for the legacy context api for react-testing-library?

[2019-02-22 04:23] kentcdodds commented on #306
Hi @oscarkwan,

There is already. What about it is not working?

[2019-02-22 18:13] oscarkwan commented on #306
Hi @kentcdodds,

Thanks for your reply, I'm pretty new to all this and I couldn't find any documentation regarding support for react 15 legacy context api. All the documentation seemed to be about react 16 context.

Do you mind pointing me towards the right direction?

Cheers!

[2019-02-22 19:03] kentcdodds commented on #306
Well, it kinda depends on how your legacy context is setup, but the concept is the same whether you're using legacy context or current context. This is because react-testing-library doesn't allow you to test implementation details.

Anyway, here's an example: https://codesandbox.io/s/10w35qy5vq

Good luck.

[2019-02-22 19:03] #306 closed

[2019-02-24 00:57] kentcdodds commented on #302
Awesome. I think we're ready to make this happen. Anyone want to make the PR too remove testHook?

[2019-02-24 01:56] schettino commented on #302
I can handle this. :)

[2019-02-24 06:25] #302 closed

[2019-02-24 06:28] kentcdodds commented on #302
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-24 07:36] FredyC commented on #302
Oh wow, that was fast. Just a couple of days I was contributing to `testHook` and now it's gone elsewhere 😮

Can someone please enlighten me why it happened? Yes, I see the tweet and I still don't get it :)

When someone puts an effort into separating logic into a custom hook, I don't see why it should be bad being able to test it. It has a name and a clear purpose.

I am kinda sad there wasn't mo

[2019-02-24 10:48] marekdano commented on #62
@kentcdodds Thank you very much for the link and sample code how 'createPortal' can be tested. I'd like to ask how we can test functional component which contains 'createPortal'. Thanks!!!

[2019-02-24 12:05] srlyttle commented on #61
@benpolinsky did you ever solve this issue ?, I am having a similar issue testing a component. Many Thanks

[2019-02-24 17:13] kentcdodds commented on #302
You may think that its purpose is clear, but in the few days it existed we already saw people mistreating it. Custom hooks are implementation details 95% of the time.

It's not all that hard for library authors to install `react-hook-testing-library`.

[2019-02-24 17:15] kentcdodds commented on #62
The test would be exactly the same. That's the beauty of react-testing-library being free of implementation details.

[2019-02-24 17:23] FredyC commented on #302
I know it's not hard. And that's why I am wondering how will that stop the actual "mistreat" of hooks? :) Feels like you have just dropped a slight detour on the road, but the destination is still the same ;)

[2019-02-24 17:27] kentcdodds commented on #302
Trust me, the detour is enough.

[2019-02-24 17:31] FredyC commented on #302
Well, sure, trust is a nice thing :) But for me, I am going to install that detour to the app (not library) and just use it because it's helpful. I don't think it's correct to say, that all hooks are an implementation detail. I have plenty of hooks that are reusable just within the app code.

[2019-02-24 19:41] smmoosavi commented on #302
# not found
package 'react-hook-testing-library' not found

https://www.npmjs.com/package/react-hook-testing-library

![www npmjs com_package_react-hook-testing-library galaxy s5](https://user-images.githubusercontent.com/1582954/53304351-6eacbc80-3889-11e9-9338-cdd39c74387c.png)

[2019-02-24 19:50] schettino commented on #302
@smmoosavi  It was just a missing 's'.

https://www.npmjs.com/package/react-hooks-testing-library

[2019-02-24 19:56] smmoosavi commented on #302
Same mistake in release page
https://github.com/kentcdodds/react-testing-library/releases/tag/v6.0.0

[2019-02-24 20:08] FredyC commented on #302
Btw, how will library authors find out about that package? Is it going to be in the docs? I don't expect people studying release notes :) However, in that case, how is it going to prevent the claimed misuse by other people? If it's not going to be anywhere, library authors will just stitch together some custom solution.

I don't know, it's a strangely controversial decision. Instead of teaching pe

[2019-02-24 21:40] alexkrolick commented on #302
@FredyC I'd hope we coule move these WIP docs and examples onto an ecosystem page like user-event and jest-dom:

https://github.com/alexkrolick/testing-library-docs/pull/32

cc @mpeyper

[2019-02-24 21:53] FredyC commented on #302
@alexkrolick Ok sure, but I am still kinda missing a whole reason why this was done. If it's going to be documented in official docs, how is that going to prevent anyone from abusing it? The focus should be really on teaching correct patterns and not moving things around just to make it interesting 😄

@kentcdodds It's like it's going to get reverted, I get that. I just kinda want to learn how hidi

[2019-02-24 22:23] kentcdodds commented on #302
It's all got to do with inertia. when doing the wrong thing is really easy then more people do the wrong thing. But when it takes even a little bit extra effort to do the wrong thing then the only people willing to put forth the effort are the people who actually are doing it because it's the right thing to do.

[2019-02-24 22:47] FredyC commented on #302
I see, thanks. Although in this case, it feels like that much bigger inertia comes with testing hooks without any utility than installing an extra package 😎

[2019-02-25 04:36] chipueatfast opened #308 "Testing does not work properly with nested route"
- `react-testing-library` version: 5.9.0
- `react` version: 16.8.1
- `node` version: 8.10.0
- `yarn` version: 1.7.0

### Relevant code or config:

[code]

### What you did:

I copied the example on 'react-router' and run, it went smoothly. But when I add a nested route, the routing seem to stop at the parent route.

### What happened:
Link to Example: https://testing-library.com/docs/example-react

[2019-02-25 13:51] baruchvlz opened #309 "Weird behaviour with checkbox"
- `react-testing-library` version: 6
- `react` version: 16.8.3
- `node` version: 10.15.0
- `npm` (or `yarn`) version: 6.4.1

### What you did:

Test `fireEvent.click` on a `input[type=checkbox]`

### What happened:
When testing with `getByTestId` or `baseElement.querySelector` the test fails, but using `container.querySelector` it passes.

### Reproduction:
https://codesandbox.io/s/wnk0x07myl

###

[2019-02-25 16:22] alflennik commented on #215
The lack of coverage for my useEffect code led me here. It's been three months since the issue was closed, but I'm feeling the pain right now. I would absolutely love an automatic flushEffects feature. Without it, how am I supposed to test my side effects? I am not going to introduce timeouts into my tests.

[2019-02-25 17:14] FredyC commented on #215
@alflennik https://github.com/threepointone/react-act-examples and please use latest RTL

[2019-02-25 18:45] kentcdodds commented on #309
Sadly this is a codesandbox issue. Because the tests and application share the same dom in codesandbox you're seeing this.

Here's a fixed version: https://codesandbox.io/s/vnx50q5o80 (note that we're not rendering the checkbox in the app and the tests work).

Would you be willing to [open an issue on codesandbox](https://github.com/CompuIves/codesandbox-client/issues/new)?

[2019-02-25 18:45] #309 closed

[2019-02-25 18:59] weyert commented on #309
I think in general KRTL and Codesandbox don't always work well together in
the browser

On Mon, Feb 25, 2019 at 6:45 PM Kent C. Dodds <notifications@github.com>
wrote:

[2019-02-25 19:05] baruchvlz commented on #309
@kentcdodds Thanks for the response, I didn't think that this might've been a codesandbox issue and should've tried it locally. Cheers.

[2019-02-25 20:39] oscarkwan commented on #306
Thanks so much, for the example. This is a good start for me. Still learning react and actually recently watching your javascript testing course.

Cheers!

[2019-02-26 02:32] kentcdodds commented on #301
Moved to https://github.com/alexkrolick/testing-library-docs/issues/38

[2019-02-26 02:32] #301 closed

[2019-02-26 07:22] denisw commented on #175
It's certainly not an implementation detail when testing a reusable text input component, where the event being propagated is part of the component's interface contract. This is the problem I ran into today when trying to test a custom `TextInput` component. The only solutions I could find is:

* Don't assert the event's contents (leaving part of the component contract untested).
* Use `event.pers

[2019-02-26 11:40] Ziv-Barber opened #312 "render() always returning undefined"
- `react-testing-library` version: 6.0.0
- `react` version: 16.8.3
- `node` version: 11.9.0
- `npm` (or `yarn`) version: yarn 1.13.0

### Relevant code or config:

[code]

### What you did:

const { testedContainer } = render(....)

### What happened:

// testedContainer is undefined for anything...

### Reproduction:

I just added react-testing-library to my project and wrote the code above.

###

[2019-02-26 12:13] #312 closed

[2019-02-26 21:36] kentcdodds commented on #175
You could also make a component that _uses_ the API you want to test and test that component instead. That has the benefit of making the tests better suited as documentation of intent.

[2019-02-27 20:14] troydraws commented on #36
In that case, one other way is to simply change the extension to .js if type checking is not that crucial in that test :)

[2019-02-28 09:27] manuhornung commented on #281
Pretty specific question:

We use babel to cross-compile `async`/`await` to generators and it seems like we're having trouble getting it to play nicely with `act` and multiple layers of `async`/`await` and a `setState` (from `useState`) behind it.

We keep getting a warning that we should wrap our triggering of the promise resolution with `act` but it seems like the regenerators keep breaking it o

[2019-03-01 15:40] mamachanko opened #313 "Guidance around testing order"
The idea of "testing what the user sees" makes a lot of sense to.

There's [a conversation](https://spectrum.chat/?t=23c8eaee-0fab-4bc6-8ca9-aa00a9582f8c) going on about how to test the order of elements. At this point it's inconclusive. I think users would benefit from some guidance around testing order of elements and how to reconcile this concern with the [guiding principles](https://testing-li

[2019-03-02 03:49] jack-bliss commented on #281
hey guys, just wanted to throw my use-case onto the pile:

i created a very naive `useMiddlewareReducer` hook:

[code]

and then i used it in a component kind of like so:

[code]

everything has been going swimmingly up until the point that i try to make `service.doAsyncThing` throw an error. React DOM warns me about me not using `act` (though i am wrapping my call that causes the method to throw

[2019-03-05 21:15] denisw commented on #175
@kentcdodds Thanks for the tip, this is basically what we did now.

[2019-03-05 22:54] lipt0n opened #314 "shallow"
hi,
Is it possible to shallow render a component?
I dont wont to test all of children but just my component. with normal render all of my snapshot will fail if I change some small child component .

[2019-03-06 10:13] merraysy opened #315 "Cannot find module 'react-dom/test-utils' from 'act-compat.js'"
- `react-testing-library` version: 6.0.0
- `react` version: 15.4.1
- `node` version: 8.11.3
- `npm` (or `yarn`) version: 1.12.3

### Relevant code or config:

[code]

### What you did:

Just imported the `react-testing-library/cleanup-after-each`

### What happened:

Got this error `Cannot find module 'react-dom/test-utils' from 'act-compat.js'`

### Reproduction:

### Problem description:

The `r

[2019-03-06 15:25] ematipico opened #316 "Preventing paste works on browser but not during the test"
- `react-testing-library` version: 5.2.0
- `react` version: 16.7.0
- `node` version: 16.7.0
- `npm` (or `yarn`) version: npm

### Relevant code or config:

Sandbox: https://codesandbox.io/s/40nwnrv650

### What you did:

Preventing the paste functionality on a single input. Used the `evt.preventDefault()`.

### What happened:

The input sets the value

### Reproduction:

Sandbox: https://codesandb

[2019-03-06 15:28] ab18556 commented on #281
I also have this issue as soon as I use ```waitForDomChange()```. Anything in this method attempts to change the component state?

[2019-03-06 22:19] oyouf commented on #281
I'm sorry if Is not the good place to put this, but in the same subject I got a case, and I'm not sure if i missunderstand something with that :

https://codesandbox.io/s/22oloo7zn

I got callbacks in a useEffect, and in that case, i dont know how can I Wait for the end of the useEffect hook.

I could reproduce this ine the codesandbox right here, so i think, I missunderstand solthing, right ?

Th

[2019-03-07 00:21] kentcdodds commented on #315
Hmmm... This is tricky because we generate a UMD build so we can't conditionally import based on your version of react. What do you think we could do?

[2019-03-07 07:23] FredyC commented on #281
@oyouf Your code does not make sense. You are not passing `promise` and `test` anywhere in your test file :) I don't recommend having a factory function around your component, rather pass those data in the props directly. And since you are passing the promise in, it's easy to wait for it in the test. And don't wrap `render` in the `act`, the RTL does that for you already.

[2019-03-07 08:19] oyouf commented on #281
@FredyC Thanks for your reply =). I changed act, by wait and it works.

You said you don't recommend factory function, but i want to make dependency injection...

[2019-03-07 09:01] weyert commented on #316
I would assume the event handling in jsdom is off?

[2019-03-07 10:09] ematipico commented on #316
Hey @weyert, could you please be more specific? In my environment I just run

[code]

I don't do anything fancy with `jsdom`. Should I add some particular configuration?

[2019-03-07 10:49] FredyC commented on #281
@oyouf Problem with such a pattern is that you will get a new component object which means to React to remount whole thing. If that's not an issue, go ahead, but I would really recommend using React Context instead for a dependency injection.

[2019-03-07 19:12] mohsinulhaq opened #317 "How to trigger pointer events using fireEvent?"
Hi!
I have a tooltip library where I have recently switched to pointer events instead of clicks and touchend.
I found that `fireEvent.pointerUp` and other pointer events don't exist. How should I trigger this event?

[2019-03-07 20:46] ZackKnopp commented on #314
See [here](https://kentcdodds.com/blog/why-i-never-use-shallow-rendering). He doesn't support it.

Although for my use case (testing redux connected components that could have redux connected component grandchildren) I didn't want to mock my whole app state just to test that the container would call a function on mount. So, I just gave my container a shallowRender prop and passed that in the test.

[2019-03-07 20:46] weyert commented on #316
I am assuming that `jsdom` doesn't have proper support for `paste`-event or it's doesn't taking your `event.preventDefault()` into account

[2019-03-07 20:48] kentcdodds commented on #314
Yeah, react-testing-library wont support shallow rendering. Mocking is the correct way to go about this.

[2019-03-07 20:48] #314 closed

[2019-03-07 20:49] weyert commented on #317
Have a look in `dom-testing-library'`s `events.js`-file which defines all the events: https://github.com/kentcdodds/dom-testing-library/blob/master/src/events.js

Don't hesitate to make a PR for it :D

[2019-03-09 02:16] jdavis92 commented on #302
@donavon When you get a chance, you should update your blog post [Intro to React Hooks](https://americanexpress.io/hooks-intro/) to reflect this move.

[2019-03-09 07:47] mohsinulhaq commented on #317
I tried it adding the event. It turns out `jsdom` doesn't support Pointer Events yet. So dom-testing-library falls back to `Event` constructor.

https://github.com/jsdom/jsdom/issues/2527

Have raised an issue regarding this.

[2019-03-12 00:28] crshmk opened #318 "Fails without an error message"
- `react-testing-library` version: **6.0.0**
- `react` version: **16.8.3**
- `node` version: **10.13.0**
- `npm` (or `yarn`) version: **6.4.1**

If package.json contains
 `"^react": "<rootDir>/node_modules/react"`
 here:
[code]

then imports from `react-testing-library` as

`import { render } from 'react-testing-library'`

will be `undefined`. No error message will clue the problem. Debugging this

[2019-03-12 00:34] kentcdodds commented on #318
Interesting. I'm afraid there's literally nothing we can do about that in this project because the bad config prevents our code from running at all. Sorry.

[2019-03-12 00:34] #318 closed

[2019-03-12 07:42] gaurav5430 opened #319 "Where is flushEffects documented ?"
- `react-testing-library` version: 6.0.0
- `react` version: 16.8.4
- `node` version: 8.14.1
- `npm` (or `yarn`) version: 6.2.0

### Relevant code or config:

[code]

### What you did:

I am trying to use flushEffects to test components with useEffect

### What happened:
jest says _ReactTestingLibrary.flushEffects is not a function

### Reproduction:

### Problem description:
It would be great if i

[2019-03-12 07:46] gaurav5430 commented on #319
Ok, found this:
https://github.com/kentcdodds/react-testing-library/commit/8e08ccff2f14aa455a8e2881bf554e5381caf171

it says, flushEffects is removed as it is no longer necessary

[2019-03-12 07:59] gaurav5430 commented on #319
ok, it seems like it has been removed and we should use act.

I am expecting a callback to be called after first render
should I just render inside act ?

`const { queryByTestId, getByText } = act(() =>
    render(<EvaluationDetails {...props} />)
  );`

[2019-03-12 08:05] gaurav5430 commented on #319
Ok, it seems render would call ReactDOM.render inside act anyway, so no need to wrap my render calls in act.

but I am still getting warnings:

[2019-03-12 08:15] gaurav5430 commented on #319
Warnings issue is covered here:
https://github.com/kentcdodds/react-testing-library/issues/281

But i would still like to see some documentation for act/flushEffects
Some of @kentcdodds old videos still refer to flushEffects and it is not completely obvious by just looking at the docs that it has been removed/replaced

[2019-03-12 12:26] luispuig opened #320 "Firing touchTap event"
I am trying to test `onTouchTap` :

[code]

with this code:

[code]

The touchTap event is not being fired. I am not sure if it a bug or a library limitation because I didn't find the event at this list: https://github.com/kentcdodds/dom-testing-library/blob/master/src/events.js

Thanks!

[2019-03-12 12:53] abdellah-el-mennani commented on #319
I have same issue and I haven't resolved it yet

[2019-03-12 13:09] gaurav5430 commented on #319
you mean you were not able to get rid of the warnings, even though your tests pass?
or are your tests failing because of this ?

[2019-03-12 13:10] abdellah-el-mennani commented on #319
no my test doesn't pass

[2019-03-12 13:13] gaurav5430 commented on #319
umm, in my case, my tests pass, just that the warning is still displayed.
May be you have another issue with your tests?

These are my observations:
1. You do not need to wrap your test code in act, as RTL would already do that for you, both for initial render and fireEvent.
2. You may have been changing your component outside of these use cases, in which case you might need to wrap that in act.

[2019-03-12 13:17] abdellah-el-mennani commented on #319
this is the code, even I use act the test fails :
![2019-03-12 14_14_21-index test tsx - ui - Visual Studio Code](https://user-images.githubusercontent.com/26612776/54202953-75664100-44d1-11e9-9a52-472192debd73.png)

[2019-03-12 13:18] gaurav5430 commented on #319
what happens without act ?
fireEvent should already wrap your calls in act , so you shouldn't need to

[2019-03-12 13:20] abdellah-el-mennani commented on #319
it fails, even if I use wait and waitForElement

[2019-03-12 13:22] gaurav5430 commented on #319
In my use case, i wait for an element to appear using waitForElement and then do my assertions.
If i don't wait, then the assertion is called before the state changes, which is expected I would say.

[2019-03-12 13:28] abdellah-el-mennani commented on #319
thank u very much. my bad the problem is in my implementation

[2019-03-12 21:24] kentcdodds commented on #320
I wonder if maybe the touchTap event isn't supported in jsdom?

[2019-03-14 09:51] bernardobelchior opened #321 "FAQ: "example-react-transition-group" not found"
- `react-testing-library` version: N/A
- `react` version: N/A
- `node` version: N/A
- `npm` (or `yarn`) version: N/A

### Relevant code or config:

N/A

### What you did:

1. Go to [this](https://testing-library.com/docs/react-testing-library/faq) page of the documentation.
2. Click "If I can't use shallow rendering, how do I mock out components in tests?"
3. Click in "[Open full test](https://tes

[2019-03-14 09:55] bernardobelchior commented on #321
Just realized the same happens when clicking on "(see [the Guiding Principles section](https://testing-library.com/docs/react-testing-library/guiding-principles))".

I think the problem may be a dynamic url generator, that is not removing `/react-testing-library` from both links.

[2019-03-14 18:45] maksimgm commented on #315
Seeing this issue as well @merraysy

[2019-03-14 19:10] kentcdodds commented on #321
Hi! Thanks for reporting this.

The correct links are: https://github.com/kentcdodds/react-testing-library/blob/master/examples/__tests__/mock.react-transition-group.js and https://github.com/kentcdodds/react-testing-library/blob/master/examples/__tests__/shallow.react-transition-group.js

Would you like to submit a fix yourself? You can click on "Edit Docs on GitHub" at the bottom of the page and

[2019-03-15 09:16] bernardobelchior commented on #321
Thanks! [Just did](https://github.com/alexkrolick/testing-library-docs/pull/48)

[2019-03-15 15:10] dimosmera opened #322 "on change for Material UI Select component not triggered"
- `react-testing-library` version: 4.1.3
- `react` version: 16.4.1
- `node` version: 11.10.1
- `npm` (or `yarn`) version: 6.7.0

### Relevant code or config:

[code]

[code]

### What you did:

I am trying to fire the onChange method of the Material UI Select.

### What happened:

onChange won't fire.
Also tried with
[code]

[2019-03-15 15:40] finreinhard commented on #322
The same occurs with the Boostrap(reactstrap) Input Checkbox

[2019-03-15 15:49] finreinhard commented on #322
According to this issue (https://github.com/kentcdodds/react-testing-library/issues/275), you should use the onClick event, not the onChange Event, but on reactstrap its not supported right now :/ I hope this library can implement the onChange function to it like browsers has it.

[2019-03-15 15:55] kentcdodds commented on #322
That's not true. `fireEvent.click` exists.

If a "checkbox" component doesn't handle a click event then that component is inaccessible. This would be a bug in that component and should be fixed.

As for the original post, do this:

[code]

Good luck!

[2019-03-15 15:55] #322 closed

[2019-03-15 18:18] diegohaz commented on #276
I'm not sure if it's the same thing, but `fireEvent.focus()` never works for me. I have always to use `act(() => element.focus())`.

[code]

[code]

[2019-03-15 18:50] tylerthehaas commented on #276
I thought I was having this problem as well yesterday but it turns out the component I was testing was rendering other components and one of them was debouncing the input of the text input I was changing the value on. so if I just `wait`ed that the focus did, in fact, work as expected.

[2019-03-15 23:25] #321 closed

[2019-03-16 19:18] tylerthehaas opened #323 "Better Docs"
### Describe the feature you'd like:

I introduced this at work a few months back and overall everyone loves it. The main complaint that I get from co-workers is that the docs make it hard to find answers when they don't know how to do something. I think the reason most are getting confused is because most of the docs are for dom-testing-library and it is not always clear how those methods map ove

[2019-03-16 19:20] kentcdodds commented on #323
Thanks for the feedback @tylerthehaas. Could you move this to https://github.com/alexkrolick/testing-library-docs please? We'll discuss it there.

[2019-03-16 19:20] #323 closed

[2019-03-17 09:31] czechue commented on #300
@seyaobey && @Dianoga thanks for your posts. I spent some time trying to fix this issue too, but looks like that mocking window.Date is currently the best way to be able to get around this error. I hope someone clever will deal with it any time soon :)

[2019-03-18 02:21] mrc535s commented on #319
Having a similiar issue and wondering if there are best practices around how to test useEffect with a fetch call when the component is loading.  I have tried many ways, but can't seem to get it working correctly.  Basically I have a form that preloads data in useEffect if there is an id in the route.  There will then be an Update button that is available to click and update the data.

it('should u

[2019-03-18 10:52] dimosmera commented on #322
This by itself did not work. That being said, both of the following do work:
[code]
or
[code]
I personally prefer the second option.

_Something to note for future readers_: If you are using a Material UI select, **none** of the above will work. You'll have to use the native version of the Select element.
For future reference: [https://stackoverflow.com/questions/55184037/react-testing-library-on-

[2019-03-18 13:46] victorhqc commented on #268
Your code works for me @julienw 😄 I copied what you posted and implemented it like so
[code]

And now I get the correct `pageX` and `pageY` value. Thanks a lot 🎉

[2019-03-18 16:36] bruqui commented on #162
Shouldn't this be in the docs on how to fireEvent.change? We are having  a lot of trouble using this library because we have to either scrape the internet for how to do something or dig through the examples. I realize some help may be needed on documentation, but when this library is listed all over the React site to try using it, it's pretty frustrating how long it takes to figure how to do any o

[2019-03-18 18:46] besartberisha opened #324 "jest-dom documentation broken link"
Hey there, as I was going through the documentation I noticed a broken link and thought of reporting it here.

- `react-testing-library` version: N/A
- `react` version: N/A
- `node` version: N/A
- `npm` (or `yarn`) version: N/A

### Relevant code or config:

N/A

### What you did:

1. Go to [jest-dom](https://testing-library.com/docs/ecosystem-jest-dom) page of the documentation.
2. Click in "Chec

[2019-03-18 18:58] gnapse commented on #324
I did notice this a while ago and made a mental note to report it. Guess my mental notes are not working as expected. Thanks for bringing this up!

BTW, I think that for issues on the documentation site, [this is the repo](https://github.com/alexkrolick/testing-library-docs) where you should've reported this. However, leave it as is right now, because I bet @kentcdodds can move this issue to that

[2019-03-18 19:35] alexkrolick commented on #319
See #281 for issues with async calls in `act`

Closing because the original issue (flushEffects) is resolved

[2019-03-18 19:35] #319 closed

[2019-03-18 19:40] #324 closed

[2019-03-19 12:02] MarkFalconbridge opened #326 "cleanupAtContainer should call ReactDOM.unmountComponentAtNode before removing the container from the DOM"
- `react-testing-library` version: 6.0.0
- `react` version: 16.8.1
- `node` version:
- `npm` (or `yarn`) version:

Relevant code or config

[code]

What you did:
Using react-testing-library my unmount code is not getting run until after the container has been removed from the DOM which in itself results in React emitting events to my component.

My component under test listens to onBlur events, wh

[2019-03-19 13:37] kentcdodds commented on #326
I agree. Let's swap them. Could you do that?

[2019-03-19 14:03] MarkFalconbridge commented on #326
I'll see if I can sort out a pull request.

[2019-03-19 15:39] MarkFalconbridge commented on #326
See https://github.com/kentcdodds/react-testing-library/pull/327

[2019-03-19 15:42] #326 closed

[2019-03-19 15:46] kentcdodds commented on #326
:tada: This issue has been resolved in version 6.0.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v6.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-19 18:03] jochakovsky commented on #315
I'm seeing this issue even though my project has a dependency on React 16.3 - apparently, one of the project's other dependencies has a dependency on React 15.2 and `jest-resolve` is getting confused? Anyone see anything similar?

[2019-03-19 20:11] ivoreis commented on #281
Hey @kentcdodds @threepointone, I'm having a bit of trouble making `RTL` and `hooks` work with async/await + useEffect + useState.

I've created a small codesandbox example with the problem: https://codesandbox.io/s/8n34on95w9

Am I missing something?

[2019-03-19 20:42] FredyC commented on #281
@ivoreis You are missing this :) https://github.com/facebook/react/pull/14853

[2019-03-19 22:28] viniciusavieira opened #328 "Docs: Add example of React-Intl integration"
### Example of React-Intl integration

React-testing-library is really awesome .

I've been working with react-intl and react-testing-library and the setup is really simple.
Althougt I've been stuck during some time to understand how both libs play together adding support to locale languages, that is a react-intl issue, and I've filled a suggestion to update docs around it, and I think it could be

[2019-03-19 22:45] kentcdodds commented on #328
This is awesome! I definitely would love to have this linked to in the docs.

This bit could be in `src/setupTests.js`:

[code]

[2019-03-19 23:28] viniciusavieira commented on #328
Glad you liked it.

I'll work on this and submit a PR with this example soon.

[2019-03-20 11:15] ab18556 commented on #281
@ivoreis you should still be able to test this code, but you are not awaiting for any changes. The promise is resolved after your expect() so at the moment it is runned, the value is still 2.

To be able to await the update before your expect() is runned, you could test your hook with https://github.com/mpeyper/react-hooks-testing-library

Using the waitForNextUpdate() method this library provides

[2019-03-20 12:15] viniciusavieira commented on #328
PR: https://github.com/kentcdodds/react-testing-library/pull/329

[2019-03-20 16:52] #328 closed

[2019-03-21 11:50] pschyma opened #330 "TypeScript Error with latest dom-testing-library"
I'm not sure whether this rather belongs into dom-testing-library...

- `react-testing-library` version: 6.0.1
- `react` version: 16.8.4
- `node` version: 10.15.3
- `npm` (or `yarn`) version: 1.15.2

### Relevant code or config:
We are using a default CRA2 setup. There is no dependency on `dom-testing-library` defined on the project; only `react-testing-library`.

### What you did:
`yarn update`

[2019-03-21 12:54] kentcdodds commented on #330
I don't maintain the typescript typings. If anyone would like to open a pull request to fix this I will merge it.

[2019-03-21 15:17] pschyma commented on #330
I prepared a quick fix for this.

[2019-03-21 15:22] #330 closed

[2019-03-21 15:26] kentcdodds commented on #330
:tada: This issue has been resolved in version 6.0.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v6.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-23 15:25] divyanshu013 commented on #22
Though this is closed, linking a library which looks very promising for people who land here (haven't used the linked library in prod yet). https://github.com/callstack/react-native-testing-library

[2019-03-23 17:18] chetmurphy commented on #300
I had it working in typescript using the following:

[code]
But now it has stopped working with no changes. Any suggestions?

[2019-03-23 17:34] chetmurphy commented on #300
Ahh.. I forgot that I had modified 'node_modules/wait-for-expect/lib/index.js:16:21' by commenting out the code:

[code]
It now works again.

[2019-03-26 07:01] JensonMiralles commented on #300
Hello, do you guys know how to fix this error on React-Native?

[2019-03-26 09:09] chetmurphy commented on #300
In my case I was still initializing enzyme and setting the testEnvrionment to ‘node’ in my jest configuration.

________________________________
From: Jenson Miralles <notifications@github.com>
Sent: Tuesday, March 26, 2019 12:01:32 AM
To: kentcdodds/react-testing-library
Cc: chetmurphy; Comment
Subject: Re: [kentcdodds/react-testing-library] TypeError: Cannot read property 'now' of undefined (#30

[2019-03-26 09:21] JensonMiralles commented on #300
It worked! Thank you @chetmurphy! 🎉

[2019-03-26 10:25] j13l commented on #54
Correct me if I'm wrong, but JSDOM does not support submitting the form element: https://github.com/jsdom/jsdom/issues/1937

I get the same error as described in the link above when trying to do so.

Am I missing something?

[2019-03-26 13:23] kentcdodds commented on #54
This is a pretty old issue. Could you open a new one with an example of what you're trying to do?

[2019-03-26 13:45] j13l commented on #54
Sorry for not being clear enough: I think this is not an issue related to `react-testing-library`.

I tried to trigger a form submit using `fireEvent`. I got the error described in the link I posted before (JSDOM not supporting submitting forms), but reading the comments above I was under the impression that forms can be submitted. I'm still not sure if this is the case.

I asked in this thread as

[2019-03-26 15:01] kentcdodds commented on #54
Glad you're liking react-testing-library @j13l!

Hmmm, this actually works today:

[code]

Though I would actually recommend not firing a submit event on a form, but instead do what the user would do and click on the submit button:

[code]

I hope that's helpful!

[2019-03-26 16:18] j13l commented on #54
Yes, it works!!

I thought submitting via click is breaking due to the JSDOM error.

Turns out it was something completely different: `react-intl` library injects a span for translations leading to `<button type="submit"><span>submit</span></button>`, which is no valid markup!

Now I wonder how many other accessibility issues we'll uncover with RTL, this is so cool!

Thanks a lot for your help @ke

[2019-03-26 16:23] j13l commented on #54
Yes, it works!!

I thought submitting via click is breaking due to the JSDOM error.

Turns out it was something completely different: `react-intl` library injects a span for translations leading to `<button type="submit"><span>submit</span></button>`. Firing a click event on the span does not trigger a form submit in the tests, but it does in the browser. Is this desired behaviour?

Thanks a lot f

[2019-03-26 16:29] kentcdodds commented on #54
Actually, I think it's ok to put a span inside a button, but firing a click event on the span should bubble up to the button anyway, so it should still work.

[2019-03-26 16:46] viniciusavieira commented on #54
Actually it works if you use this aproach:
[code]

But using the example with ```getByText``` this same example fails
[code]

[2019-03-26 16:51] kentcdodds commented on #54
Ok, so this should work:

[code]

If it's not working it's probably because your version of jsdom is old. I believe this is a bug that was fixed in jsdom@14.

If you cannot upgrade, then I recommend this approach:

[code]

[2019-03-26 16:55] j13l commented on #54
You're right.

Just set up a CodeSandbox example, but bubbling does work as intended.

However, in our case if I render the label with a span, it does not bubble up. Running on latest Jest, JSDOM & co. Ran out of ideas why this could happen, might look into it again later. Thanks!

[2019-03-26 17:02] kentcdodds commented on #54
The problem is that `jest-environment-jsdom` depends on a very old version of jsdom :-(

If you use https://www.npmjs.com/package/jest-environment-jsdom-fourteen you'll be set 👍

Maybe this should be documented, or maybe we can help jest upgrade jsdom...

[2019-03-26 17:04] kentcdodds commented on #54
Looks like the reason jest is using an old version of jsdom is for Node 4 support. Node 4 will reach End-of-life at the end of April. So hopefully in the next few months we should get an updated version out of the box.

[2019-03-27 21:58] leogoesger opened #333 "test fails at unrelated components"
- `react-testing-library` version: latest
- `react` version: 16.8
- `node` version: 10
- `npm` (or `yarn`) version:

### What you did:

I am not really sure if this is a bug, or simply not understanding the inner works of the library. I have been running into similar problems for a while. Basically, I am testing one component, then usually it fails the test for some completely unrelated components

[2019-03-27 22:04] kentcdodds commented on #333
Hi @leogoesger,

My guess is that code in the App is being imported through several layers of code imports. Really hard to tell from here though, sorry. 😬 Good luck.

[2019-03-27 22:04] #333 closed

[2019-03-27 22:32] leogoesger commented on #333
@kentcdodds that's it! thanks! Took me hours, it is weird once you have things imported from a file, and then it keeps going deeper and deeper into that file...

[2019-03-28 18:12] laila-vinson commented on #315
I have the same problem.

[code]

has anyone found a workaround for this?

[2019-03-29 16:47] j5bot opened #336 "Issues testing keyboard events with BlueprintJS NumericInput"
- `react-testing-library` version: 6.0.0
- `react` version: 16.8.1
- `node` version: 8.14.0
- `npm` (or `yarn`) version: yarn 1.12.3

### Relevant code or config:

[code]

### What you did:

Trying to fire a keyPress event on a BlueprintJS NumericInput's input element.

### What happened:

Component's `onValueChange` handler is not triggered.

### Reproduction:

https://codesandbox.io/s/w20nqx93pk

[2019-03-29 18:07] jmeyers91 opened #337 "Fire change event doesn't work on inputs with type="date""
- `react-testing-library` version: ^6.0.3
- `react` version: 16.8.2
- `node` version: 10.11.0
- `npm` version: 6.4.1

### Relevant code or config:

[code]

### What you did:

Trying to write a test that makes sure a date input is being updated properly.

### What happened:

Jest fails the test with this output:

[code]

### Reproduction:

Here's a code sandbox for reproducing the issue. I added tw

[2019-03-29 18:57] anandthanki1 commented on #322
Hey @kentcdodds, Can you please brief us on how we can efficiently use react-testing-library with React Material-UI components ? I faced a similar issue of while testing the Material UI select(Not native select) onChange function.

This is the codeSandBox link: https://codesandbox.io/s/q94q9z1849

The codeSandBox has similar Select component which I am using. For your info, the dropdown which appe

[2019-03-29 19:56] kentcdodds commented on #336
The tests in the codesandbox are passing. What am I missing?

[2019-03-29 21:34] kentcdodds commented on #337
The problem is that you're providing an invalid date string. If you try to do this in the browser (dateInputNode.value = '03/29/2019') then you'll see the following warning:

Here's a working version: https://codesandbox.io/s/rln7q07o0m

You'll notice that the display value may be `03/29/2019`, but the `value` property formats it according to the specification mentioned. Good luck.

[2019-03-29 21:34] #337 closed

[2019-03-31 07:37] alexkrolick opened #338 "Add option to enable strict mode render"
Why: to test that components work in concurrent React

[2019-03-31 18:19] alexkrolick commented on #336
https://github.com/jsdom/jsdom/blob/master/Changelog.md#1320

The isTrusted property is set by JSDOM in 13.2.0 - can you try adding jest-environment-jsdom-thirteen or pinning the resolution of jsdom to 13+ and see if this still is an issue?

[2019-03-31 23:58] kentcdodds commented on #338
I understand the motivation, but couldn't this be accomplished using the wrapper option?

[2019-04-01 06:27] alexkrolick commented on #338
Hmm, yes. I thought you have to change the `ReactDOM.render()` call

[2019-04-01 13:05] kentcdodds commented on #338
We would if we wanted to run concurrent mode. Maybe we will when that's stable, but I kinda don't think we will want/need to. We'll see.

[2019-04-01 14:35] christopher-schroer opened #339 "fireEvent.drop is not including event.dataTransfer"
- `react-testing-library` version: 6.0.1
- `react` version: 16.8.1
- `node` version: 8.9.4
- `npm` version: 5.6.0
- `jest` version: 24.0.0

### Relevant code or config:
Below is a simplified, generic version of my code

[code]

### What you did:

I am trying to test a drop event that is used for uploading files via drag-and-drop

### What happened:

When I run my unit test, the event is firing, bu

[2019-04-01 15:19] goosewobbler commented on #315
I see this bug with React 0.14.7 (upgrading not currently an option).  I worked around it by replacing the import on https://github.com/kentcdodds/react-testing-library/blob/master/src/act-compat.js#L3 with the code below.  It seems to build fine although the catch block is not covered by tests - if this approach is good enough for a PR maybe someone can find a way to test it, my efforts failed an

[2019-04-01 17:33] #315 closed

[2019-04-01 17:36] kentcdodds commented on #315
:tada: This issue has been resolved in version 6.0.4 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v6.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-01 18:28] kentcdodds commented on #339
Hi @christopher-schroer,

I'm not sure what this could be. Without a simple reproduction in a codesandbox there's only so much we can do.

[2019-04-01 19:46] christopher-schroer commented on #339
@kentcdodds I figured as much. Once I have some free time, I will try to create a repo for sharing. Unfortunately, I'm going to be on vacation until Apr 11.

[2019-04-02 20:20] christopher-schroer commented on #339
I managed to put together a basic example

https://github.com/christopher-schroer/react-testing-library-drop-issue

Clone it, run `npm install`, and then run `npm test`

[2019-04-03 02:57] alexkrolick commented on #281
Alright everybody, the PR to add async act was merged (thanks @threepointone!), so once the alpha is released can everyone check if they are still seeing these warnings?

https://github.com/facebook/react/pull/14853

[2019-04-03 04:02] kentcdodds commented on #281
We'll eventually want to wrap our wait utilities in it so people don't have to do it manually 😀

[2019-04-03 15:52] mjubil1 opened #341 "TypeError: Cannot read property 'MouseEvent' of undefined"
I am getting an error in my test when trying to use mouseOver. I want to test that a specific text appears if the mouse hovers over an image.

![Screen Shot 2019-04-03 at 11 52 06 AM](https://user-images.githubusercontent.com/16749587/55493451-f31bf900-5606-11e9-9251-5a11f07499e3.png)

[2019-04-03 15:54] kentcdodds commented on #341
do: `fireEvent.mouseOver(container.querySelector('img'))`

Also, I'd recommend using `getByAltText` instead of `container.querySelector`. Your `<img` should have an `alt` attribute you can select by.

[2019-04-03 16:04] kentcdodds commented on #339
Ah, this appears to be an issue with jsdom not supporting `dataTransfer`. Based on [these tests](https://github.com/jsdom/jsdom/blob/9a382982d8ab1f498b4e789fd16d494b1f37ebbb/test/web-platform-tests/to-run.yaml#L376-L382).

You could file an issue against jsdom to see what it would take to contribute support for dataTransfer.

[2019-04-03 17:00] mattharrigan opened #342 "event.nativeEvent missing attributes after fireEvent"
- `react-testing-library` version: 6.0.4
- `react` version: 16.8.2
- `node` version: 10.14.1
- `npm` version: 6.8.0

### Relevant code or config:

App.js
[code]

App.test.js
[code]

### What you did:

Test a react component which has event handlers for mouse events

### What happened:

Test failed.  console.log indicates that the event does not contain a nativeEvent similar to what is present when

[2019-04-03 17:52] threepointone commented on #281
https://github.com/facebook/react/releases/tag/v16.9.0-alpha.0 :D

docs incoming. @kentcdodds, happy to help you integrate this, lemme know.

[2019-04-04 05:50] threepointone commented on #281
I'm also happy to use this issue as a discussion ground for whether the async version worked for you folks. I took a quick spin at updating my readme/examples in https://github.com/threepointone/react-act-examples (still unfinished, but should be helpful for this group now), and will spend today working through the failures I see in this thread (and others in the react repo). Let me know!

[2019-04-04 05:58] ValentinH commented on #281
@magrytos, could you try the alpha to see if it removes the warning you were seeing yesterday?

[2019-04-04 08:48] magrytos commented on #281
I've tested my code with `react@16.9.0-alpha.0` and I'm still seeing the warning @ValentinH.

My code looks something like:
[code]
Then I'm testing it with `react-testing-library` `render` method and the warning pops up:
[code]

[2019-04-04 08:58] FredyC commented on #281
It won't work magically by updating React version in a project. The RTL has to be changed to use the `async act`.

https://github.com/kentcdodds/react-testing-library/blob/7e6031f40c572b0a2cf5d285d84487d4e562a36d/src/index.js#L39

It essentially means that the whole `render` needs to be async which is going to be ugly breaking change AFAIK. All our tests would need to become async to `await render

[2019-04-04 11:48] threepointone commented on #281
render is still sync. act works sync if you pass it a sync function, and async if you pass it an async function. you don't have to change your existing tests.

[2019-04-04 11:48] threepointone commented on #281
@magrytos  can you show me your actual test? best if you can show it on codesandbox.

[2019-04-04 11:53] threepointone commented on #281
@FredyC to be clear - this *isn't* true ->

What's most likely, is the async helpers will be wrapped with async act, and the sync ones will stay as they are.

[2019-04-04 12:07] FredyC commented on #281
I am confused. So you are saying that even though the `render` function in RTL is using sync version, it should work with async code?

Isn't that what I was suggesting with `renderAsync` and `fireEventAsync`?

[2019-04-04 12:10] threepointone commented on #281
This is more easily explainable with actual tests, or if you read my doc. you'll note that their are sync sections, and async sections. for rtl, this means async helpers like waitForElement, will trigger the async flow, while sync helpers like render and fireEvent will still use the sync version. say you want to capture async effects on a sync action (like fireEvent), you'd just write a manual asy

[2019-04-04 13:38] magrytos commented on #281
Sorry, my bad. I didn't wrap my test in `act` previously. Now everything works fine, here is my test:
[code]

[2019-04-04 14:31] ValentinH commented on #281
Just to be sure, once the async `act()` is used in RTL, will we still need to use it manually in our tests like @magrytos above?

[2019-04-04 15:15] KayBeSee commented on #281
I am still struggling to get this to work. I updated react to `16.9.0-alpha.0` and am using rtl `6.0.3`.

My test:

[code]

This passes but I still getting two warnings that are both
[code]

I am assuming it's because the promises called from the data fetching resolve after the initial render (since it produced two warnings), but when I wrap the wait in act,
[code]

 I get the following errors:
[c

[2019-04-04 15:17] threepointone commented on #281
@ValentinH depends on your tests really. in most cases (and after the helpers are wrapped with act), you probably won't, but in the odd case when you do something manually and the warning pops up, you can wrap it by yourself with act().

[2019-04-04 15:18] threepointone commented on #281
@KayBeSee rtl hasn't integrated the new async version of act() into its helpers yet. if you can make a git repo wit the above code, I'd be happy to have a look and send a PR which makes your tests pass.

[2019-04-04 15:30] threepointone commented on #281
I spent time going through a bunch of issues reported on the react repo and replied with solutions to the same https://github.com/facebook/react/issues/14769#issuecomment-479942713 I want to do the same now for the examples reported in this issue, but feel free to have a look there to see if it helps any of you.

[2019-04-04 17:18] KayBeSee commented on #281
Hey @threepointone, here is a little repo demonstrating the warnings I'm getting b/c of act:

https://github.com/KayBeSee/rtl-act-warning-example

[2019-04-04 17:46] threepointone commented on #281
@KayBeSee https://github.com/KayBeSee/rtl-act-warning-example/pull/1/files boom :)

[2019-04-04 20:27] KayBeSee commented on #281
Ahh, forgot to update react-dom. Thanks! Working perfectly so far!

[2019-04-04 23:14] jamie-kupka-acl commented on #138
I am having the same problem - what does "You have to install jest-dom manually." mean? Thanks.

[2019-04-04 23:24] alexkrolick commented on #138
It's a separate package

[code]

[2019-04-04 23:28] jamie-kupka-acl commented on #138
I've done that; its in my package.json (^3.1.3)

[2019-04-05 11:27] threepointone commented on #281
@panjiesw - I hope your issue got resolved on the react repo thread

@kentcdodds
[code]

would pass your tests. or you could integrate it into `waitForElement` :)

@alexknipfer - from another react repo issue (I forget which one) I assume you're also unlocked, but for posterity's sake
[code]

@dclaude
[code]

---
as you can all see, it's much simpler, and you don't need to futz about with fake tim

[2019-04-05 11:30] threepointone commented on #281
@FredyC if you could try out the new alpha with mobx-react-lite and let me know if it fixes your issues, or if you're still having trouble, that would be great. I'd be happy to pitch in and help.

[2019-04-05 13:31] FredyC commented on #281
@threepointone Yea, don't worry, the mobx-react-lite is not async, so I only had issues initially mostly with understanding the concept `act`, but then it worked fine.

@kentcdodds Feel free to close it here if you want to track integration of async act somewhere else.

[2019-04-05 13:35] kentcdodds commented on #281
I'm going to leave this open.

I plan on implementing support for this today.

[2019-04-05 15:09] kentcdodds commented on #281
Almost there: https://github.com/kentcdodds/react-testing-library/pull/343

[2019-04-05 15:14] threepointone commented on #281
you're a beast kent

[2019-04-05 16:36] kentcdodds commented on #281
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-05 17:01] kentcdodds commented on #281
Ok so here's the scoop: If you want to get rid of the warnings, upgrade to `react-dom@16.9.0-alpha.0` or wait until `react-dom@16.9.0` is stably released, and then upgrade. It may be a few weeks before 16.9.0 is actually released, so keep that in mind.

If you don't want to upgrade, but still want to silence the warnings for now, then you can add this to your `setupTests.js` file (or equivalent):

[2019-04-05 17:02] kentcdodds commented on #281
I think I'll leave this open until `react-dom@16.9.0` is released and we can close this as soon as we remove this: https://github.com/kentcdodds/react-testing-library/blob/180179e12239d7de7ec5bf5f572291cd9ec48d33/src/react-dom-16.9.0-is-released.js 😅

[2019-04-05 19:19] joual opened #345 "findBy* and waitForElement* not returning HTMLElement anymore (since 6.1.0) (works in dom-testing-library)"
- `react-testing-library` version: 6.1.x
- `react` version: ^16.8.3
- `node` version: 10.15.x
- `npm` (or `yarn`) version: 6.9.0

### Relevant code or config:
The following test fails in react-testing-library
[code]

While the following test passes in dom-testing-library
[code]

### What you did:

I was trying to use the `findByTestId` API to grab an element.

### What happened:

The resolved valu

[2019-04-05 19:30] kentcdodds commented on #345
I've reproduced this. I'm working on a fix

[2019-04-05 19:31] joual commented on #345
[code]
in act-compat seems to fix it for me

[2019-04-05 19:31] kentcdodds commented on #345
That's what I was thinking as well, but it's not working for me 🤔

[2019-04-05 19:31] joual commented on #345
Let me open a quick PR to check.

[2019-04-05 19:32] kentcdodds commented on #345
Interestingly, that fixes `findBy*` but not `waitForElement` 🤔

[2019-04-05 19:32] kentcdodds commented on #345
Oh, nevermind. That was something else. I'll have this fixed in a moment.

[2019-04-05 19:33] kentcdodds commented on #345
I'll just push to master and consider your feedback a review 😉

[2019-04-05 19:33] joual commented on #345
Oh! Interesting indeed, ya okay I'll close my PR then.

[2019-04-05 19:34] kentcdodds commented on #345
Oh, I didn't notice you made one! I'll merge yours!

[2019-04-05 19:41] aledustet opened #347 "waitForElement not working as expect on latest react version(16.8.6)"
- `react-testing-library` version: 6.1.1
- `react` version: 16.8.6
- `node` version: 11.10.1
- `yarn` version: 1.13.0
- `jest-dom` version: 3.1.3

### What you did:

Just run ```yarn create react-app from-scratch --typescript```
Add the ```react-testing-library``` and ```jest-dom``` to the package.json, update the ```App.test.tsx``` with:

[code]

### What happened:

<img width="847" alt="Screen S

[2019-04-05 19:43] kentcdodds commented on #347
Yup, this should be fixed in a few minutes :)

[2019-04-05 19:44] #345 closed

[2019-04-05 19:44] #347 closed

[2019-04-05 19:44] aledustet commented on #347
wow @kentcdodds 34 seconds 🔥 🙇

[2019-04-05 19:44] kentcdodds commented on #347
@allcontributors[bot], please add @aledustet for bug

[2019-04-05 19:45] kentcdodds commented on #347
No problem! Thanks for taking the time to report the issue!

[2019-04-05 19:48] kentcdodds commented on #345
:tada: This issue has been resolved in version 6.1.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v6.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-05 19:48] kentcdodds commented on #347
:tada: This issue has been resolved in version 6.1.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/kentcdodds/react-testing-library/releases/tag/v6.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-05 22:23] mattharrigan opened #350 "Add examples for common third party react components"
Please add examples to the documentation for testing UI components which contains common third party components.  Specifically I would like to test components using [react-select](https://github.com/JedWatson/react-select) and [react-datepicker](https://github.com/Hacker0x01/react-datepicker).  I would like to know what the best practices for finding/querying the elements are since I cannot easily

[2019-04-07 10:12] ar7casper opened #351 "import `jest-dom/extend-expect` doesn't work"
- `react-testing-library` version: 6.1.2
- `react` version:  16.8.6
- `node` version: 10.15.3
- `npm` (or `yarn`) version: yarn 1.5.1
- `typescript` version: 3.3.33

### What you did and Problem description:

I'm using TypeScript, in my `jest.config.js` file, I've got
[code]

In `setup.jest.ts` I've got -
[code]

Up until a few days ago everything was fine, but now, all of a sudden, `toHaveStyle`

[2019-04-07 11:18] ar7casper commented on #351
Upgrading to TS - 3.4.2 seemed to help, but still weird cause worked before.

[2019-04-07 11:57] kentcdodds commented on #351
I'm going to guess that this is a problem with your own TS setup as I'm unable to reproduce. Thanks!

[2019-04-07 11:57] #351 closed

[2019-04-08 15:53] Michael-M-Judd commented on #62
For anyone curious: Specifically with material-ui, this fixed my problem.

For my working example:
[code]

[2019-04-09 03:09] GnanaAjana opened #352 "React lazy and suspense component not loading"
Am trying to load a component using react suspense and load.

In async.js

[code]

In component.js,

[code]

In the test case,

[code]

I got the error as,

`require.ensure is not a function`.

So I implemented in async.js as

[code]

In the snapshot, component gets loaded but getting error as
`Timed out in waitForElement.`

Version:
"react-testing-library" : "^5.1.0"
"React": "^16.8.3"

I got ref

[2019-04-09 03:21] GnanaAjana opened #353 "scrollHeight/clientHeight for an element is always zero"
In component js,

Based on scrollHeight am displaying footer or binding scroll event. So, in this case, scrollHeight is always 0.

[code]

[code]

In this case, due to clientHeight 0, I can't able to cover the scroll event test case.

Am not using 'enzyme' here.

Is there any other way to get clientHeight.

[2019-04-09 08:32] weyert commented on #353
I don't think jsdom actually renders your component so the scroll height might not change even when dispatching the scroll event

[2019-04-09 08:56] GnanaAjana commented on #353
@weyert I checked to print log for `this.elementRef.current`, its innerHTML has the content which i bind using `dangerouslySetInnerHTML={createMarkup(testHtml)}` but other height related is 0. ({height: 0, width: 0, offsetHeight: 0, clientHeight: 0, bottom: 0, top: 0 })

In above I missed this.
[code]

[2019-04-09 10:11] ashoksudani commented on #322
Hi @kentcdodds

Any help on how can we select testing possible for onchange event when native is not true?

[2019-04-09 12:32] viniciusavieira commented on #353
I'm note sure, but I think this is because maybe jsdom does not exports this as you may be expecting.

In some cases may be useful to mock this implementation it with Jest.
https://jestjs.io/docs/en/manual-mocks#mocking-methods-which-are-not-implemented-in-jsdom

Them you can export something like:
```window.mockSize = {height: 0, width: 0, scrollHeight: 0, offsetLeft: 0, offsetTop: 0, offsetHeigh

[2019-04-09 12:37] weyert commented on #353
For offsetHeight, `scrollHeight` to change when using `jsdom`, then this library would need to actually do layouting which it currently doesn't do so these values wouldn't change. I guess you would need to run the tests in the browser to test this or maybe mock the properties accordingly.

[2019-04-09 13:19] kentcdodds commented on #352
Hi @GnanaAjana, I think you need this: https://github.com/airbnb/babel-plugin-dynamic-import-node

Good luck!

[2019-04-09 13:19] #352 closed

[2019-04-09 13:20] kentcdodds commented on #353
jsdom doesn't support layout. This means measurements like this will always return `0` as it does here.

You have three options:
1. Put the logic that uses those measurements in a function and test it in isolation.
2. Mock the values.
3. Use Cypress (+ cypress-testing-library) to test that particular situation

I typically recommend option 3. Good luck!

[2019-04-09 13:20] #353 closed

[2019-04-10 09:46] debel27 commented on #281
I'm coming a little late, but this is exactly what caused the issue for me. Calling two different `setState` in sequence (coming from two different `useState`) got me the act error.

I could get around this problem by wrapping those calls in the `unstable_batchedUpdates` API from `react-dom` (which is what `act` does behind the scenes, I suppose ?).

I think this can be used as a workaround for no

[2019-04-10 11:42] jayantbh commented on #281
I was super confused as to how to solve the issue on my project.

I did manage to find out that it was two useState's setter calls causing this issue.

My code looked something like this:
[code]
☝️All that is inside a `useEffect` hook though.
At the point of declaration for `setSomestuff`:
[code]

It appears that `somethingThatCallsAxiosAndDoesAsyncStuff` would resolve almost instantly in the test

[2019-04-10 13:37] debel27 commented on #281
@jayantbh Would it be possible that `somethingThatCallsAxiosAndDoesAsyncStuff` becomes synchronous because of the mock ? If so, I think this just confirms that this `act` problem comes from calling useState's setters several times on the same call stack.

With those `setTimeouts`, this problem disappears because each of their callback will generate their own call stack.

[2019-04-10 16:06] alexkrolick commented on #281
This is a situation I called out in https://github.com/alexkrolick/react-testing-examples

I'll revisit now that async act exists, but I think if you want to simulate the actual timing in the app you need to use fake timers because the intermediate state would otherwise be batched

[2019-04-12 09:03] weyert commented on #350
@mattharrigan I am using the following for a custom Formik field which leverages `react-datepicker`:

[code]

[2019-04-12 11:33] mattharrigan commented on #350
I ended up adding the following to `__mocks__/react-select.js`.  It seems to be doing what I want.  Does that look ok?  Thanks

[code]

[2019-04-12 12:13] weyert commented on #350
Feels like you are just replacing the component with an input then you aren't really testing `react-select` just replacing it. Meaning you aren't testing what the user will see/use

[2019-04-12 15:14] mattharrigan commented on #350
@weyert exactly.  I don't want to test react-select.  I trust that they already did a good job testing it.  I want to test my component which has relect-select components as children.  I want to make sure the props are correct and the onChange handler is working.

I also asked a SO question.
https://stackoverflow.com/questions/55575843/how-to-test-react-select-with-react-testing-library

[2019-04-12 20:50] brandon-pereira commented on #281
We were facing this issue in our tests on React 16.8.2.

Similarly to above, the issue is that were using code splitting `import('./pin.svg')` to dynamically load our svg icons. We were using `const [icon, setIcon] = useState()` then setting the icon once it was loaded. It worked in the browser but during testing we were getting the above errors our tests.

After some research, we found out that t

[2019-04-14 08:07] mikelyons commented on #54
I wonder if this would explain having a similar issue with event bubbling in codesandbox's jest environment. Not sure what the work around is in this case.

[2019-04-15 17:43] LukenAgile42 opened #356 "Setting pointerEvents to 'none' does not disable clicking"
[code]

`
    "jest-dom": "^3.1.3",
    "react": "^16.8.6",
    "react-dom": "^16.8.6",
    "react-grid-layout": "^0.16.6",
    "react-scripts": "2.1.1",
    "react-testing-library": "^6.1.2"`

[2019-04-15 17:47] kentcdodds commented on #356
Hi @LukenAgile42,

This is true whether you use react-testing-library or not. Even if you style it to have `pointerEvents: 'none'`, if you dispatch a click event on the element, it'll still call event handlers.

My recommendation: Don't fire a click event if you don't want the click handler called. If you want to verify that `pointerEvents: 'none'` is working properly, then I think you're wasting

[2019-04-15 17:47] #356 closed

[2019-04-17 03:32] bcarroll22 commented on #313
Hey Max. Just a thought, I’d consider not testing from this angle. It seems like an implementation detail.

To me what seems to matter most in your example from the chat is that given a list of data, your component successfully renders it. It shouldn’t crash, and you should see all of the content in a list item that you expect to see. If you know that the list renders and that an item displays wha

[2019-04-17 03:42] bcarroll22 commented on #308
👋 howdy. Pretty sure the issue you’re running in to is because in React Router you aren’t supposed to nest routes like this. Hard to tell without the whole example, but I’m fairly confident that’s the issue.

Try nesting your route inside the about page component instead of under the about route and you should be good to go 👍

[2019-04-17 04:04] alexkrolick commented on #313
I'd recommend something like putting a testid or aria-label on the list items, then asserting by verifying the items returnee by `queryAllBy... ` are in the right order. But as someone pointed out in Spectrum it is possible to reverse a list of nodes in CSS, so bear that in mind.

[2019-04-17 04:04] #313 closed

[2019-04-17 21:36] afholderman opened #357 "waitForElement causes test to hang indefinitely in codesandbox"
- `react-testing-library` version: 5.8.0
- `react` version: 16.8.0
- `node` version:
- `npm` (or `yarn`) version:

### Relevant code or config:

CodeSandbox repo: https://codesandbox.io/s/8y48jm7rn8

### Problem description:

Attempting to use waitForElement in CodeSandbox causes the test to hang indefinitely. In an actual project the issue presented differently with waitForElement never successfu

[2019-04-18 14:15] mamachanko commented on #313
thanks @bcarroll22 @alexkrolick

[2019-04-18 15:31] kentcdodds commented on #357
You were calling `waitForElement` with the element. You need to call it with a function: https://codesandbox.io/s/o27kw5oly

[2019-04-18 15:31] #357 closed

[2019-04-19 17:35] bcarroll22 commented on #320
`onTouchTap` isn't a browser event, so this library won't be able to support it.

[2019-04-19 20:33] kylemh commented on #224
Out of curiosity.

How awful is it to simply do

[code]

namely, simply doing: `await wait();`

[2019-04-19 21:38] kentcdodds commented on #224
That's not a big deal honestly, but you could improve things a bit:

[code]

[2019-04-20 15:30] fgarcia opened #359 "Not firing onChange event"
- `react-testing-library` version: 6.1.2
- `react` version: 16.8.6
- `node` version: 10.13.0
- `npm` (or `yarn`) version: 6.9

### Relevant code or config:

[code]

### What you did:

I've seen other issues with problems where Material UI, they seem to have solved the problem but I cannot get this to work.

I tried two ways to change the right DOM element. If I search wit wrong test-id (to get the

[2019-04-23 11:36] mattharrigan commented on #342
https://github.com/kentcdodds/dom-testing-library/issues/245

[2019-04-23 11:36] #342 closed

[2019-04-23 13:18] matewilk commented on #215
It seems the topic diverged a little bit but going back to the original issue.
Why not just use `jest.spyOn(React, 'useEffect`)` and test it this way?

[2019-04-23 13:54] FredyC commented on #215
@matewilk Because you are testing implementation detail then? Seriously, just grab the awesome `act` (especially the one from 16.9 alpha) and you are golden.

[2019-04-23 21:24] LaraMo commented on #299
Hey! I am also new to this library!!

[2019-04-23 21:24] LaraMo commented on #299
@karimjavith

[2019-04-23 21:24] LaraMo commented on #299
@karimjavith
I am also new to this library.. and I had the same bug. My code looks like this and now it works :)

[2019-04-24 10:47] luispuig commented on #320
Thanks for the answer!

[2019-04-24 13:11] #320 closed

[2019-04-24 15:42] LaraMo opened #362 "Helmet issues when testing with react-testing-library"
I am testing my react components using Jest and this library.
I am also using redux for this project.
My test case looks like this:

[code]

Here is the renderWithRedux function:
[code]
The error I get is:
*TypeError: Cannot read property 'add' of undefined

      23 | ) {
      24 |      return {

         |                 ^
      26 |                      <Provider store={store}>
      27 |

[2019-04-24 15:53] kentcdodds commented on #362
Hi @LaraMo,

Please make a reproduction repository and/or codesandbox and post it to https://spectrum.chat/react-testing-library

[2019-04-24 15:53] #362 closed

[2019-04-24 19:27] bolivier opened #363 "Element that has been hidden after waiting is still visible"
- `react-testing-library` version: 6.1.2
- `react` version: 16.8.6
- `node` version: 11.13.0
- `yarn` version: 1.15.2

### Relevant code or config:

[code]

[code]

[code]

### What you did:

I was writing to test a modal component that hides children by returning null.

### What happened:

Querying the container for the text of the button results in returning the button, even though that button i

[2019-04-24 19:49] bcarroll22 commented on #363
Very subtle, but your issue is this:

[code]

you're querying for the text "hide" which is the text of the button. the button never goes away. i think what you want is to query by text "hello world" 😉

[2019-04-24 19:51] kentcdodds commented on #363
Hi @bolivier,

That code doesn't have any logic around hiding stuff based on the visible state: https://github.com/bolivier/react-testing-library-reproduction/blob/70a3b9ec7c4a741faf5a10c1139388d609c6c087/src/Hider.js#L5

Sure you can set the state, but it doesn't actually hide anything. This doesn't have to do with testing... The feature just doesn't work...

Here's it working: https://codesandbo

[2019-04-24 19:51] #363 closed

[2019-04-25 10:28] vripoche commented on #359
Hello,

I confirm that onChange() is triggered in CodeSandbox but never with JSDOM (v14.1.0 and 15.0.0).
onClick() works well with JSDOM.

I've tried with:

[code]
Neither works, with controlled or uncontrolled inputs.

[code]

[2019-04-25 11:01] vripoche commented on #359
**Workaround**

with `Simulate.change(input)` from `ReactTestUtils`, the onChange() is triggered in JSDOM.

[2019-04-25 17:04] LaraMo opened #364 "undefined History object when testing with and react-testing-library"
I have a button that is supposed to do:   `this.props.history.push(PageA)` when clicked.
However, I get this error:     `TypeError: Cannot read property 'push' of undefined` - meaning that history is undefined.

Here is my set up that runs before each test for the Tax comonent

[code]
[code]
*** this is imported from another file :
[code]
Is there another way to pass the history? Am I missing a po

[2019-04-25 21:09] jcursoli commented on #281
@kentcdodds

Thanks for the awesome lib!

I read this thread a few times but still havnt found an answer. It seems like we are not supposed to wrap anything in `act()` but im getting an error

[code]
heres my test:
[code]

[2019-04-25 22:11] kentcdodds commented on #281
Could you make a codesandbox that reproduces this issue and post it to [the spectrum](https://spectrum.chat/react-testing-library)?

[2019-04-25 22:35] kentcdodds commented on #275
This is handled by [user-event](https://github.com/Gpx/user-event).

[2019-04-25 22:35] #275 closed

[2019-04-25 22:36] kentcdodds commented on #300
Closing this for inactivity. If someone wants to work on it in the future feel free to open a new issue. Thanks!

[2019-04-25 22:36] #300 closed

[2019-04-25 22:36] kentcdodds commented on #276
Closing this for inactivity. If someone wants to work on it in the future feel free to open a new issue. Thanks!

[2019-04-25 22:36] #276 closed

[2019-04-25 22:36] kentcdodds commented on #316
Closing this for inactivity. If someone wants to work on it in the future feel free to open a new issue. Thanks!

[2019-04-25 22:36] #316 closed

[2019-04-25 22:37] kentcdodds commented on #317
Thanks for doing the research @mohamedmagdy17593. We'll close this in favor of the issue you opened on jsdom.

[2019-04-25 22:37] #317 closed

[2019-04-25 22:37] kentcdodds commented on #341
Closing this for inactivity. If someone wants to work on it in the future feel free to open a new issue. Thanks!

[2019-04-25 22:37] #341 closed

[2019-04-25 22:38] kentcdodds commented on #339
Closing this in favor of: https://github.com/jsdom/jsdom/issues/1568

Thanks.

[2019-04-25 22:38] #339 closed

[2019-04-25 22:40] kentcdodds commented on #336
This is honestly really unfortunate.

I think you could get around this by running your tests in Karma (and react-testing-library should work there), but then you wont be able to use Jest ☹

Either way there's nothing we can do about this in react-testing-library I think, so I'll close this.

[2019-04-25 22:40] #336 closed

[2019-04-25 22:42] kentcdodds commented on #350
Adding examples is always a welcome activity. That can happen here: https://github.com/kentcdodds/react-testing-library-examples

And you can even contribute to it via codesandbox if you want: https://codesandbox.io/s/github/kentcdodds/react-testing-library-examples

[learn more](https://www.youtube.com/watch?v=3PAQbhdkTtI&list=PLV5CVI1eNcJgCrPH_e6d57KRUTiDZgs0u)

We're not going to keep an issue

[2019-04-25 22:42] #350 closed

[2019-04-25 22:42] kentcdodds commented on #308
Closing this for inactivity. If someone wants to work on it in the future feel free to open a new issue. Thanks!

[2019-04-25 22:42] #308 closed

[2019-04-25 22:46] kentcdodds commented on #299
The codesandbox has been fixed and all the tests are passing. Hopefully that helps.

Closing this for inactivity. If someone wants to work on it in the future feel free to open a new issue. Thanks!

[2019-04-25 22:46] #299 closed

[2019-04-25 22:56] kentcdodds commented on #359
I'm not sure what the problem is exactly, but when I try it with jest it works properly: https://github.com/kentcdodds/react-test-issue-with-jest

So my guess is you have JSDOM misconfigured. The good news is there's hope and you just need to figure out how to configure JSDOM correctly. Good luck!

[2019-04-25 22:56] #359 closed

[2019-04-25 22:57] kentcdodds commented on #364
Could you make a reproduction repository and/or codesandbox to show this issue and then ask on [the spectrum community](https://spectrum.chat/react-testing-library)?

Thanks!

[2019-04-25 22:57] #364 closed

[2019-04-25 23:34] anandthanki1 commented on #322
Hey @weyert, please feel free to add unit test cases in the Codesandbox example. Thank you.

[2019-04-26 00:00] weyert commented on #322
I assume you already have some unit test cases you tried?

[2019-04-26 00:06] weyert commented on #336
I would suggest to the `user-event`-npm which handles this all tad bit better. Have a look what we are doing there to try to get reasonable close to how typing in the browser behaves, definitely not perfect, though: https://github.com/Gpx/user-event/blob/68af3552d21d33d600d62239f97da1e2d76ce5e9/src/index.js#L166

[2019-04-26 00:33] anandthanki1 commented on #322
Hey @weyert , I have updated the codesandbox example and have wrote unit test for it. I would like to thank you for taking look at this issue.

Here is the link for updated codesandbox: https://codesandbox.io/s/q94q9z1849

Please feel free to edit it or suggest improvements on it.

[2019-04-26 03:14] weyert commented on #322
Try this: https://codesandbox.io/embed/94pm1qprmo
I have moved the `data-testid` to the `inputProps`-prop of the `Select` of `ControlledOpenSelect`-component also I have written a unit test for you which clicks on Thirty and ensures a `onChange`-props got triggered (I added the onChange to your comp).

Not sure, why it doesn't work in the browser but when you download it and test locally the unit

[2019-04-26 03:44] ashoksudani commented on #322
Thanks @anandthanki1 My tests are getting passed through your suggested way of selecting button and then clicking on element found by text. perfect.

[2019-04-26 04:14] anandthanki1 commented on #322
Thank you @weyert

[2019-04-26 08:29] vripoche commented on #359
Hi @kentcdodds,

Really thank you for your example I was able to compare configurations.
I use official `jsdom` package and `react-scripts` use `jest-environment-jsdom-fourteen`, a fork, so if I change it in my project it also works.
The official JSDOM version is still compliant to node 6 and Jest not, I do not know exactly why it is related to change triggering but it is :-)

Explanation why Jest

[2019-04-26 08:38] PhiLhoSoft commented on #249
Thanks for the tip, testing it now. FYI, I will use https://www.npmjs.com/package/jest-environment-jsdom-fourteen

[2019-04-26 16:12] fgarcia commented on #359
My problem is yet to be solved. Unfortunately I never I had to move a project into jest and create-react-app. Sorry for the silly question but how did you actually run the test? My first thoughts were `npm test` and `jest file` but it did not work.

I will come back later when I manage the time to deal with jest. I really think this project has a better approach than enzyme. I tried to follow the

[2019-04-26 17:29] kentcdodds commented on #359
I'd suggest that 90% of people using react-testing-library are using it with jest and they're using jest's default JSDOM functionality, so we're not going to change the template. I suggest you use Jest with it's default configuration for jsdom and you'll be fine.

Thanks though!

[2019-04-26 21:06] justinanastos opened #366 "Typings for `findBy*` do not include `waitForElement` options"
- `react-testing-library` version: 7.0.0
- `react` version: 16.8.4
- `node` version: 8.12.0
- `npm` (or `yarn`) version: 6.9.0

### Relevant code or config:

[code]

### What you did:

[Per the docs](https://testing-library.com/docs/dom-testing-library/api-queries#findby), the *findBy* queries accept the `waitForElement` options as the last argument. The TypeScript configuration only reflects a po

[2019-04-30 10:47] JDansercoer commented on #8
Sorry for bringing this up again @kentcdodds, but I'm not sure if I'd really have a need for this function, or if my current approach isn't 'best-practice'.

Case is, I have a `DateInput` component which is a controlled component that accepts a `value` prop and and `onChange` prop to update its parents state.
There's even more functionality, but that goes beyond this issue.

The tests I first wrot

[2019-04-30 16:34] kentcdodds commented on #8
Hi @JDansercoer,

Do this:

[code]

Then render `<TestDateWrapper />` instead. It could even accept props itself if you need it to...

[2019-05-02 06:49] JDansercoer commented on #8
Aha of course, that makes perfect sense! Thanks for the quick answer!

[2019-05-02 06:57] JDansercoer commented on #8
After playing around with it some more, I noticed that my `rerender` calls are now also obsolete.
So apparently, the component gets autoupdated anyway, so I don't really see what the use of the `rerender` function would be?
Or am I missing something?

[2019-05-02 08:48] ematipico commented on #281
I get the same error when I try to put some async code inside the `act` callback

[2019-05-06 08:26] TidyIQ commented on #322
The same issue occurs for Input components as well.

`fireEvent.change(input, { target: { value: "Valid input value" } });` does nothing.

[2019-05-06 08:59] TidyIQ commented on #359
I'm also having the same issue.

This doesn't work. It returns a different color to what is returned when it's used in production:
[code]
This works fine. It returns the same value that's returned when used in production:
[code]

[2019-05-06 13:12] weyert commented on #322
What if you actually type it with something like `UserEvent`s `type`-helper method?

[2019-05-06 16:02] kentcdodds commented on #322
Maybe @oliviertassinari can help with this

[2019-05-06 16:02] kentcdodds commented on #359
Maybe @oliviertassinari can help with this

[2019-05-06 16:03] kentcdodds commented on #322
It would probably be good to have a few [examples](https://github.com/kentcdodds/react-testing-library-examples) for testing MaterialUI components because we regularly get reports about difficulties with that library and I don't use it so I don't know why it's so uniquely difficult.

[2019-05-06 17:09] oliviertassinari commented on #322
The solution shared by @weyert looks great to me: https://codesandbox.io/s/94pm1qprmo, thanks! The nonnative select component relies on click/keyboard interactions. You **can't** fire a DOM *change* event. The input element present is only here to support HTML POST forms.

@TidyIQ for the input components, let's move to #359.

[2019-05-06 17:16] oliviertassinari commented on #359
@TidyIQ You can find a working test in https://codesandbox.io/s/nn3o075794.

[2019-05-07 03:39] TidyIQ commented on #359
@oliviertassinari Sure.

Here's the onChange function for the OutlinedInput component. It changes the field's `value` state to the user's input. It works as expected in production and I can see that the "value" attribute for `<input>` changes on user input when inspected in Chrome.

[code]

This is the entire `<OutlinedInput>` component. I'll post a simplified version below that shows the relevant

[2019-05-07 13:01] karimjavith commented on #299
Found out. I did not wrap the parent component with `WithRouter()` which was causing the problem.
Thanks, everyone for your comments 👍

[2019-05-07 15:54] interglobalmedia commented on #34
Hi Kent, love your library. Am also taking the course. `.toBeInTheDOM()` is still in the REAME.md and was a bit confusing when I went in to find out what I could use in a test. However, I only found out that it was not the thing to use when I received a warning after running `npm test`. Perhaps, however, it might be nice if `.toBeInTheDOM()` was replaced with `.toBeIntheDocument() `in the `README.

[2019-05-07 15:57] kentcdodds commented on #34
Thank you for the reminder @interglobalmedia! Would you like to provide that fix?

[2019-05-08 13:21] RichMatthews opened #367 "How do you mock react class functions?"
I'm doing this:

`await wait(() => fireEvent.click(getByText('Next')))` when I click this it invokes a function and I'm getting the error: `Actions must be plain objects. Use custom middleware for async actions.`

I'm hoping to have full control over this function that gets called (`handleSubmit`) and then get it to return nothing or undefined or what ever

I've tried `jest.mock()` and `spyOn` but

[2019-05-09 08:38] #367 closed

[2019-05-09 17:34] alexkrolick commented on #367
It sounds like this is due to an incorrectly fired Redux action within the component

[2019-05-10 09:03] rstacruz commented on #281
Just ran into this with `react-testing-library`! We were testing a React component that did a state update after a `Promise.resolve()`. It looked like this:

[code]

[code]

This gave us the `act` warning. [This comment](https://github.com/mpeyper/react-hooks-testing-library/issues/14#issuecomment-474335322) tipped me as to how/why this happens:

 The workaround we ended up using is to avoid using

[2019-05-10 12:18] TidyIQ opened #368 "afterEach(cleanup); isn't cleaning up after each test"
- `react-testing-library` version: 7.0.0
- `react` version: 16.8.6
- `node` version: 10.15.3
- `npm` (or `yarn`) version: 6.9.0

### Relevant code or config:

[code]

Notice how I have `afterEach(cleanup);` declared at the top of the file.

When I run the test, the snapshots created for the first test `Unit: <OutlinedInput /> Initial render renders as snapshot for ${name} with icon adornment`  all

[2019-05-10 16:36] alexkrolick commented on #368
afterEach runs after `it` or `test`. `describe` blocks should not contain assertions. You can use `test.each()` instead.

[2019-05-10 17:27] TidyIQ commented on #368
I can't use `test.each()` as it doesn't allow nesting.

Also, the describe block only contains `it` blocks so `afterEach(cleanup)` *should* be running after every test.

If I import the cleanup as `import "react-testing-library/cleanup-after-each";` then change the afterEach to `afterEach(() => console.log("test"));`, I can see that `afterEach` is working fine. The console shows "test" for every t

[2019-05-10 17:34] TidyIQ commented on #368
Using the same code as above that has 3 `it` blocks and 6 different tests to be run under `describe.each()`, there is a total of 18 tests performed. If I change the afterEach to:

[code]

And run the test, the console.log output is:
[code]

[2019-05-10 18:00] alexkrolick commented on #368
`react-testing-library/cleanup-after-each`

[code]

What could be the difference here...?

[2019-05-10 22:00] undeniablyrob commented on #312
Did you find a solution to this? I'm running into the same thing.
[code]

[2019-05-10 22:55] alexkrolick commented on #312
"testedContainer" is not something returned by render

[code]

https://testing-library.com/docs/react-testing-library/api#render

[2019-05-11 16:45] FredyC opened #369 "The add-contributor command is gone?"
Sorry for a bit meta. The command has been removed from scripts https://github.com/testing-library/react-testing-library/commit/5a88da27a87de869e40fc8abdf5a9483066e5ec2#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L12 and yet it's still referred in CONTRIBUTING.md.

I am merely curious as I wanted to use the implementation for another OSS project. Is there some other fancy way of managing contributors the

[2019-05-11 17:05] alexkrolick commented on #369
Use @all-contributors bot/cli

[2019-05-11 17:15] FredyC commented on #369
Yea, I know about the bot and even found [the CLI](https://allcontributors.org/docs/en/cli/installation), just got a bit surprised that command has been removed and yet it's still mentioned as to be used. Nevermind then. Thanks.

[2019-05-11 17:15] #369 closed

[2019-05-11 22:23] kentcdodds commented on #369
Thanks for bringing this up @FredyC! We should remove it from the `CONTRIBUTING.md`. Would you be willing to do that?

[2019-05-12 06:15] FredyC commented on #369
Well, you mean to remove a whole section? It should probably be a whole template to be used across other *-testing-library projects (and others?). I am not feeling like creating it when I don't know specifics.

[2019-05-12 06:38] kentcdodds commented on #369
Yeah, I need to go through all my projects and remove that section honestly. People don't add themselves anymore because we're using the bot so it's just confusing.

You're welcome to do it if you're bored sometime :)

[2019-05-12 07:26] TidyIQ commented on #368
I can confirm that `afterEach(cleanup)` isn't actually cleaning up the dom between tests.

I have another test:

[code]
When I look at the snapshot created from the first test I can see that the svg element has `data-testid` value of `hidePasswordIcon`, however the second test fails with:

[code]

If I remove the first snapshot test and only run the second test, then it passes fine. When the first

[2019-05-12 08:22] TidyIQ commented on #368
Further proof: All these tests pass when they should be failing due to cleanup.

[code]

[2019-05-12 17:53] alexkrolick commented on #368
Maybe it has something to do with asFragment?

@tidyiq can you confirm cleanup-after-each does work but afterEach(cleanup) does not?

[2019-05-13 00:46] TidyIQ commented on #368
Neither of them work.

The asFragment is cleaning up as the snapshots are being saved individually. It's just the fireEvent's that aren't cleaning up.

[2019-05-13 03:27] alexkrolick commented on #368
Can you provide a repository or codesandbox to reproduce this in?

[2019-05-13 04:28] TidyIQ commented on #368
Sure, the repo is here: https://github.com/TidyIQ/tidyiq_website

I've changed the repo from private to public so please let me know once you've cloned it so I can switch it back over to private again.

Once you've installed the packages run `npm run unit-test` and you'll see that the test in `/components/EndAdornments/ShowHidePasswordButton/__tests__/index.unit.test.tsx` fails due to this issue.

[2019-05-13 04:37] TidyIQ commented on #368
Also, I moved `afterEach(cleanup)` to `/jest.config.unit.js` as:

[code]
as per https://testing-library.com/docs/react-testing-library/setup so I don't need to the afterEach to every test file.

[2019-05-13 07:51] vospascal commented on #54
I see now even jsdom is on 15 .... the old version in jest is sad :(

[2019-05-13 22:14] lukescott commented on #247
There doesn't seem to be a workaround for this. I set selectionStart before a fire the event, but that value seems to get reset to 0 every time. I also haven't been able to find any issues in jsdom related to this.

I'm currently trying to write a test for a third-party masking component that relies on selectionStart and selectionEnd. In their own tests they set selectionStart before using TestUti

[2019-05-14 04:51] TidyIQ commented on #368
@kentcdodds Any idea what the issue is here?

[2019-05-14 07:33] TidyIQ commented on #368
It seems that the order of how I define each element makes a difference. For example, this won't work:

[code]

But this *does* work:
[code]
I'm not sure why this is. I've tried using `wait` and `waitForDomChange` in case there is a lag somewhere but they both timeout whenever I try using them.

Also, the test from my original post fails more if I similarly move around the test order. The actual t

[2019-05-14 13:16] kentcdodds commented on #368
The example code is huge. If you could please try to reproduce this with the minimal amount of code and preferably I'm a codesandbox, then we can determine what the problem is much more easily.

[2019-05-15 01:29] TidyIQ commented on #276
Confirmed that fireEvent.focus() doesn't work correctly.

This returns `document.body` in console (the default behaviour when document.activeElement is undefined):
[code]

This works correctly:
[code]

I believe the same issue may be occurring with all other fireEvent's as well, which would explain why a lot of my tests fail that use `fireEvent.click()`.

[2019-05-15 15:42] joshvillahermosa opened #371 "Debug Returning Empty `<Body />` in second test suite"
- `react-testing-library` version: 7.0.0
- `react` version: 16.8.3
- `node` version: 11.14
- `npm` (or `yarn`) version: 1.15.2

### Relevant code or config:

[code]

### What you did:

Testing with two different test specs. Debugging returned two different baseEl renders. Avoiding `beforeEach` to keep small.

### What happened:

First Test Suite printed

[code]

The second Test Suite

[code]

###

[2019-05-15 18:07] alexkrolick commented on #371
You shouldn't render outside of a test() block. The JSDOM env is shared and the cleanup in the inner describe() is cleaning up the DOM.

[2019-05-15 18:07] #371 closed

[2019-05-15 18:10] kentcdodds commented on #371
Learn more: https://kentcdodds.com/blog/test-isolation-with-react/

[2019-05-15 18:47] joshvillahermosa commented on #371
Gotcha! Thanks for clarifying and providing a link

[2019-05-15 21:59] jamescrowley opened #372 "useEffect causing test failures (but not with Enzyme)"
- `react-testing-library` version: 7.0.0
- `react` version: 16.8.6
- `node` version: code sandbox
- `npm` (or `yarn`) version: code sandbox

### Relevant code or config:

I've created a code sandbox here: https://codesandbox.io/s/dazzling-keldysh-80o9d (note for me on MacOS I needed to run code sandbox from Chrome rather than Safari to get the same test failure messages I have locally)

### What y

[2019-05-15 23:51] TidyIQ commented on #368
I created a minimal repo here - https://github.com/TidyIQ/rtl_test_failure

[code]

[2019-05-15 23:53] kentcdodds commented on #368
That's not minimal. Try removing as much as possible

[2019-05-15 23:56] TidyIQ commented on #368
I've removed as much as I can without changing how the component actually works. If I remove any more then it won't be the actual component and test that I'm having issues with.

[2019-05-16 00:07] kentcdodds commented on #368
The point of a small reproduction is to see if you can reproduce the issue with as little as possible. If you can't do that then how do we know it's not something weird your component is doing?

[2019-05-16 01:42] TidyIQ commented on #368
I updated the repo. I've removed as much as I possibly can. I removed Material-UI completely, removed the util functions, removed all adjustments made to the base Next.js app (the .babelrc needs to stay so that it works with jest).

All that's left is the component being tested, a pages folder (which could be removed but I kept it so you can see the component works as intended if you run `npm run

[2019-05-16 02:03] alexkrolick commented on #368
OK, I think the problem is here: https://github.com/TidyIQ/rtl_test_failure/blob/master/components/state.js#L52

You have a state singleton that is shared across imports. RTL doesn't clean up your modules, it cleans up the DOM. You might try using this Jest option to clean up the module cache between tests: https://jestjs.io/docs/en/jest-object#jestresetmodules

I am not sure if that will fix the

[2019-05-16 02:03] #368 closed

[2019-05-16 02:49] TidyIQ commented on #368
Thanks for the help. I tried resetting and isolating the StateProvider module but unfortunately it's still doing the same thing. I'll create an issue in jest's repo about it.

[2019-05-16 15:16] kentcdodds commented on #372
Hi @jamescrowley,

Your event handler was causing the problems: https://codesandbox.io/s/holy-water-jvp97?fontsize=14&module=%2Fsrc%2FSimpleForm.test.js

In the future, if you could ask these kinds of questions on [the spectrum community](https://spectrum.chat/testing-library) that would be great. Thanks!

[2019-05-16 15:16] #372 closed

[2019-05-16 16:35] jamescrowley commented on #372
@kentcdodds Many thanks and my apologies - had convinced myself it was a library issue as it worked in Enzyme - I'll head to spectrum in future!! :)

[2019-05-16 16:36] kentcdodds commented on #372
No worries!

[2019-05-17 03:35] alexreardon opened #373 "createEvent is not being exported"
- `react-testing-library` version: 7.0.0
- `react` version: 16.8.6

### Relevant code or config:

[code]
https://codesandbox.io/s/reacttestinglibrary-createevent-gr9ms (click on the tests tab)

### Problem description:

[`createEvent`](https://testing-library.com/docs/dom-testing-library/api-events#createevent-eventname) is not being exported

[2019-05-17 03:38] alexreardon commented on #373
I would have expected this line to export it:

https://github.com/testing-library/dom-testing-library/blob/master/src/index.js#L12

[2019-05-17 04:49] alexkrolick commented on #373
Did you update the dom testing dependency with `yarn upgrade react-testing-library`?

[2019-05-17 04:50] bcarroll22 commented on #373
Ah, we’ll have to bump the version of DTL used and minor bump this library also. The line you referenced should cover it then since this re-exports everything. Wanna make a PR here as well?

[2019-05-17 04:55] alexreardon commented on #373
The example I posted is a fresh install from npm

[2019-05-19 11:52] tommarien commented on #373
Any update on this ?

[2019-05-19 15:25] bcarroll22 commented on #373
I can’t reproduce this on a fresh install of RTL. Maybe try deleting package-lock or yarn.lock and node_modules and try a fresh install? The lockfile should say DTL is version 4.1.0 after an install of RTL ^7.0.0.

[2019-05-19 15:43] tommarien commented on #373
That is why the patch is needed I tried last friday installing the newer query lib did not work maybe I did something wrong
On 19 May 2019, 17:25 +0200, Brandon Carroll <notifications@github.com>, wrote:

[2019-05-19 16:44] cmdcolin commented on #268
just wanted to add some comments to this thread in case anyone stumbled on it. I personally wanted to simulate a mouse drag in my code. I thought I was basically limited to just fireEvent.click(container) and wasn't even aware that I could perform other events, so I thought this thread was basically my key to success but I ended up with alternate route where I just used

[code]

In jsdom clientX/Y

[2019-05-19 19:53] #373 closed

[2019-05-19 19:56] kentcdodds commented on #373
:tada: This issue has been resolved in version 7.0.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/react-testing-library/releases/tag/v7.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 07:07] tommarien commented on #373
@kentcdodds Thanks ;)

[2019-05-20 22:36] dangodev opened #374 "TypeError: Cannot read property 'createElement' of undefined using TypeScript"
- `react-testing-library` version: `7.0.1`
- `react` version: `16.8.6`
- `node` version: `12.2.0`
- `npm` (or `yarn`) version: `npm 6.9.0`
- `jest` version: `24.8.0`
- `ts-jest` version: `24.0.2`

### Relevant code or config:

Here’s the Jest config and test file that’s failing:

[code]

[code]

The rest of the example can be found here: https://github.com/dangodev/rtl-create-element

### What you

[2019-05-21 01:15] bcarroll22 commented on #374
hi @dangodev, the issue is that your tsconfig.json file should contain the following:

[code]

After making this change, your repro test passes. In the future, could you do us a favor and ask support questions like this on our [Spectrum chat](https://spectrum.chat/testing-library)? We'd really appreciate it. Thanks, and good luck! 😄

[2019-05-21 01:17] dangodev commented on #374
Thanks so much! 👏 And yes, sorry—will do that in the future.

By chance is this TypeScript setup anywhere in the documentation, and I missed it? If not, is there a good place to add this?

[2019-05-21 01:26] bcarroll22 commented on #374
It wouldn't be in our docs, that fix isn't related to this library. It's just a general requirement for using React with TypeScript. Without that flag, you have to import React this way:

[code]

No troubles though, happy to help!

[2019-05-21 01:26] #374 closed

[2019-05-23 21:31] michaellasky opened #375 "Ability to interact with <select multiple> tags"
### Describe the feature you'd like:

Currently there doesn't seem to be any programmatic way of interacting with &lt;select multiple &gt; tags through fireEvent.  With a normal &lt;select&gt; tag you can at least call fireEvent.change(select, { target: { value: 'Selected Value' } }), but select multiple tags use a separate HTMLOptionsCollection object attached to the event object to signify selec

[2019-05-23 23:24] kentcdodds commented on #375
Hmmm... Interesting. Do you have any idea how this might be implemented?

[2019-05-24 00:12] NuclearHorseStudios commented on #375
I'm not sure off hand because I haven't yet dug into the react-testing-library source to see what might make sense, but I'd imagine it could be something like the workaround above.  Some function that takes a DOM element (the select), and maybe a function that the options get mapped over and returns true if the option should be selected?

In the example above, if I wanted to select the 1st and 2nd

[2019-05-24 17:50] watadarkstar commented on #322
Similar to what is in codesandbox worked for me:

[code]

[2019-05-27 13:18] skippednote commented on #281
I read somewhere in one of the issues that `render` is automatically wrapped in `act`. However, I was trying it out and I'm getting the error mentioned by other here

https://codesandbox.io/s/dreamy-kalam-ps70g

[2019-05-27 13:37] FredyC commented on #281
@skippednote Common mistake, you don't have React 16.9.0-alpha.0 which includes handling async stuff. It's kinda sad that React team hasn't made this more clear, I see this mistake all around. Perhaps a small blog post would help there.

[2019-05-27 21:57] andraz opened #376 "fireEvent.keyPress does not trigger a focused button"
- `react-testing-library` version: 7.0.1
- `react` version: 16.8.6

### Relevant code or config:

[code]

### What you did:

Used info from #269 how to trigger keyPress in test.

### What happened:

Did not trigger keyPress in test.

### Reproduction:

https://codesandbox.io/s/reacttestinglibrary-testing-button-8bfqb

### Problem description:

Button works as expected when you manually press the e

[2019-05-30 08:29] hyochan opened #377 "The `data-testid` won't work if `div` isn't wrapped"
Hi there. Thanks for awesome library. I've been a real lover of `react-testing-library` these days.

I have an issue using this when I try to grab the `data-testid` inside my custom component (example below).

[code]

When I try to grab above component like below
[code]

`react-testing-library` won't grab this.

The workaround of solving above problem is by wrapping my component with `div` tag.
Wo

[2019-05-30 13:34] bcarroll22 commented on #377
Hey @hyochan, generally speaking this is the opposite of what you should try to do with this library (and [native-testing-library](https://github.com/testing-library/native-testing-library) as well).

You shouldn't be querying for your custom components (they're [implementation details](https://kentcdodds.com/blog/testing-implementation-details)) and usually when you need to use a test id, I find

[2019-05-30 13:36] kentcdodds commented on #377
My guess is the Button component doesn't forward the props it receives to the underlying button that is rendered which is why you're having this problem

[2019-05-30 14:16] rambabusaravanan commented on #376
Wherever I go, I see your face. I mean only `fireEvent.change` and `fireEvent.click`. I couldn't find any examples for `fireEvent.focus` or `fireEvent.keyPress`.

I want to test the keyboard accessibility (like tab, arrow keys, space to check/uncheck) for my checkbox
[code]

I found a replacement for `fireEvent.focus(elemIp1)` as `act(() => elemIp1.focus())` and it works

I read somewhere, instead

[2019-05-30 15:24] kentcdodds commented on #376
I'm pretty sure the trouble you're having is because JSDOM doesn't support keyboard navigation semantics. You need to run your tests in a real browser for that. Unfortunately [not even Cypress supports the tab key currently](https://docs.cypress.io/api/commands/type.html#Tabbing) :-(

If you want to test this, then you should run your tests in a real browser like with Karma or puppeteer. react-tes

[2019-05-30 15:24] #376 closed

[2019-05-30 19:04] #377 closed

[2019-05-31 11:01] fandingdevs commented on #377
So sad that it's been closed. @kentcdodds Maybe you are right but it comes worse when you use `styled-component`. Below is what I am doing.

[code]

I can't use `data-testid` directly inside `Container`.

[2019-05-31 11:56] bcarroll22 commented on #377
I believe that’s still a question for spectrum, but I don’t believe you need to select the container. The container is an implementation detail. You should be selecting the DOM nodes your users interact with, not your components or styled wrappers.

[2019-06-01 01:05] droob opened #378 "Repo description still points to pre-scoping package"
The github repo description still points to http://npm.im/react-testing-library rather than http://npm.im/@testing-library/react after yesterday's change. Thanks for streaming that!

[2019-06-01 01:12] kentcdodds commented on #378
Thanks for letting us know!

[2019-06-01 01:13] #378 closed

[2019-06-01 01:15] kentcdodds commented on #375
Hmm... I'd rather that this go in https://github.com/testing-library/user-event

Seems like it'd make more sense there. `fireEvent` should only be for actually browser events.

Please file an issue there. Thanks!

[2019-06-01 01:15] #375 closed

[2019-06-01 03:44] atav32 opened #379 "expect(...).toHaveTextContent is not a function"
- `react-testing-library` version: 8.0.1
- `react` version: 16.8.6
- `node` version: 10.15.2
- `npm` (or `yarn`) version: 6.4.1

### Relevant code or config:

*Component*
[code]

*Test*
[code]

### What you did:

Just following the [react-testing-library example](https://github.com/testing-library/react-testing-library#example) to write a test for the [React Hooks example](https://reactjs.org/docs

[2019-06-01 03:59] atav32 commented on #379
Just realized that it's preferred to ask these types of questions on Spectrum.

Feel free to close and reply here, https://spectrum.chat/testing-library/help-react/expect-tohavetextcontent-is-not-a-function~1b79c850-369b-4b67-88e8-ab27fa5d3bfe

[2019-06-01 04:12] atav32 commented on #379
Ok nvm, I missed this line

[code]

-----

My preference would be to keep the example as barebones as possible in order to highlight how to use `react-testing-library`. Throwing in a function from `jest-dom` was a red herring.

I never expect examples to have additional dependencies that I have to manually install, unless they're explicitly stated in big bold instructions. I thought `jest-dom` was

[2019-06-01 04:59] alexkrolick commented on #379
Thanks for pointing this out. Yes, a PR would be welcome to remove usage of extra dependencies from the example.

[2019-06-01 20:06] gnapse commented on #379
I'm not sure I agree with your suggestion. That is an example of the usage of react testing library with jest, hence the addition of the jest-dom helpers. react testing library also does not depend on jest, it can be used with other test runners and assertion libraries. That's why jest-dom is not included by default. But if the example already uses jest, why not use also jest-dom? As you said the

[2019-06-01 20:21] kentcdodds commented on #379
Agreed, I think we should just add a comment explaining where the assertion is coming from

[2019-06-02 12:50] kelly-tock opened #380 "After switching to the scoped package, cleanup is no longer working"
- `react-testing-library` version:
[code]
- `react` version: 16.8.6
- `node` version:  11.12.0
- `npm` (or `yarn`) version: 1.16.0

### Relevant code or config:

[code]

### What you did:

switching to the scoped version of this package

### What happened:

tests that were passing under the last version of react-testing library, `"react-testing-library": "^7.0.1",` are now not passing due to clean

[2019-06-02 12:53] kentcdodds commented on #380
That's strange. I haven't had this problem as I've been updating projects and haven't heard from anyone else about this issue either 😕

[2019-06-02 12:54] kelly-tock commented on #380
wow we must have similar schedules.

[2019-06-02 12:54] kelly-tock commented on #380
i'll create a small repro. I literally just upgraded/switched over.

[2019-06-02 13:36] kelly-tock commented on #380
I couldn't get it to repro in the template repository, after upgrading it to latest react, @testing-library, jest, jest dom( I may submit a pr to clean that up).

I found locally though that if I import cleanup directly from testing library in one of the tests thats failing, it no longer fails and cleanup is working.

[2019-06-02 13:48] kelly-tock commented on #380
ok, sorry for the issue. we have a bit of a weird setup with respect to one of our `shared` modules. before this update, my moduleMap was correctly mapping this to the correct location. but with the change the cleanup was firing from the project root, but the testing library was rendering from a different location entirely.

this is more of a result of our project structure. apologies.

[2019-06-02 13:48] #380 closed

[2019-06-02 17:25] atav32 commented on #379
@kentcdodds I'm on board with that

@gnapse good point that `react-testing-library` doesn't depend on Jest. Would it be easy to add examples with other test runners then? I could give it a shot, but I'm not familiar with the other ones.

[2019-06-04 13:53] thetif opened #381 "waitForElementToBeRemoved null?"
- `react-testing-library` version: 5.4.4
- `react` version: 16.0.0
- `node` version: 8.15.0
- `npm` (or `yarn`) version: 6.4.1

### Relevant code or config:
waitForElementToBeRemoved

[code]

### What you did:
I am trying to import and use waitForElementToBeRemoved and it is undefined.

### What happened:
console.log waitForElementToBeRemoved undefined

### Reproduction:

### Problem description:

[2019-06-04 13:59] bcarroll22 commented on #381
Your version of React Testing Library uses a version of DOM Testing Library that doesn't have `waitForElementToBeRemoved` [see here](https://github.com/testing-library/dom-testing-library/tree/v3.13.1/src). Can you update to a newer version?

[2019-06-04 14:00] thetif commented on #381
yes, thanks!

On Tue, Jun 4, 2019 at 9:59 AM Brandon Carroll <notifications@github.com>
wrote:

[2019-06-04 14:16] bcarroll22 commented on #381
awesome, thanks!

[2019-06-04 14:16] #381 closed

[2019-06-07 12:20] karolmajta commented on #281
If you don't want to upgrade to React 16.8.0-alpha.0 and want to get rid of these messages you can use this snippet:

**utils.tsx**
[code]

**YourComponent.test.tsx**
[code]

Once React with working `act` is available you can just change your *utils.tsx* to:
[code]
and you will seamlessly switch to using the React version without much changes in your code.

Examples are in TypeScript, but porting

[2019-06-11 06:39] alexkrolick opened #382 "Help wanted: Flow Types"
It would be great if we could get Flow definitions up to date for the testing-library family

Here's a start https://github.com/flow-typed/flow-typed/pull/3364 🚀

[2019-06-11 06:40] alexkrolick commented on #382
@all-contributors please add @pascalduez for platform

[2019-06-11 14:06] jaydeep987 commented on #352
@kentcdodds  I have this setup:
[code]

And in test it gives error:
[code]

In test I used `React.Suspense` too!
Using `react@^16.8.3`, `@testing-library/react@^8.0.1`.

[2019-06-11 15:01] mohamedmagdy17593 opened #384 "Clean side effect dom nodes in cleanup method"
hi kent
the problem is that `cleanup()` unmount and remove ReactDom container but not any side effect dom nodes, so we have some code that adds dom nodes imperatively under `<body>` i need to remove it after each test case

### Describe the feature you'd like:

so I think we can add code to `cleanup` method that removes any dom side effect
we could do it by default or add options to `cleanup` meth

[2019-06-11 16:54] dewyze opened #385 "Errors using react-redux 7.1.0 with hook support"
I am trying to use `react-testing-library` to test some components built using react hooks and the new [`react-redux` support](https://react-redux.js.org/api/hooks#usedispatch).

I am not sure if this is supported or not, but thought I would ask.

Using the new support system, you no longer need to use `connect` or `mapStateToProps`. Instead, there is a [`useSelector`](https://react-redux.js.org/a

[2019-06-11 18:11] dewyze commented on #385
I added a few 4 more examples to the repo to clarify the cases

[code]

[2019-06-11 18:15] kentcdodds commented on #384
I would argue that your components should be cleaning up after themselves on unmount. if they're not doing that, then that's a bug and should be fixed in your source code.

[2019-06-11 18:22] mohamedmagdy17593 commented on #384
Yes you are right but we use ant design and it do that by default i think because it uses it in the future :(

[2019-06-11 18:26] mohamedmagdy17593 commented on #384
I know that your library try to encourage good code and accessibility but that is not the case with most of libraries out there

[2019-06-11 20:30] alexkrolick commented on #384
You can probably do `document.body.innerHTML = ''` if you just want to remove all the nodes

[2019-06-11 20:32] kentcdodds commented on #384
Whether or not most of the libraries out there are inaccessible it's kind of irrelevant. Those are bugs in those bugs should be fixed. We're not going to add things into this library which enable people to continue to build buggy software.

There's a simple work around as Alex suggested. So if you want to use that then feel free. Good luck.

[2019-06-11 20:32] #384 closed

[2019-06-11 22:01] dewyze commented on #385
Nevermind, this is my own error.

I previously had this:

[code]

But it should look like this:

[code]

Sorry for the noise!

[2019-06-11 22:01] #385 closed

[2019-06-11 23:41] mohamedmagdy17593 commented on #384
thanks, Alex it's more simple, I will consider using this snippet as a workaround

[2019-06-11 23:44] mohamedmagdy17593 commented on #384
thanks for helping Kent you are right, the library should not support anything that will encourage bad code

[2019-06-15 14:40] kripod commented on #302
Is it possible to move `react-hooks-testing-library` under the `@testing-library` scope? I think it would be more appealing and discoverable.

[2019-06-15 16:05] kentcdodds commented on #302
There's an open issue on that repo to do this. I want it 👍

[2019-06-16 00:55] DylanPiercey opened #386 "Server side rendered component testing"
### Describe the feature you'd like:

Currently there is no documentation, recommendations or API's that I could find regarding testing components that are rendered in a server side context.

Related twitter discussion: https://twitter.com/dylan_piercey/status/1139990868213952512

### Suggested implementation:

I think that for many frameworks, especially those that have compilers in front, it wil

[2019-06-16 22:05] kentcdodds commented on #386
I'm in favor of this. I hadn't considered the fact that people testing SSR probably wouldn't have JSDOM set up globally, but that's a good consideration that we should probably account for. Luckily, dom-testing-library does work without a global DOM, so I think we should be good to go with the suggested implementation.

Anyone want to try to get this working?

[2019-06-17 00:29] mpeyper commented on #302
@kentcdodds I'm all for moving `react-hooks-testing-library` to `@testing-library/react-hooks` 👍

How do we make this happen?  I'm assuming this means moving the repo from `mpeyper` to the `testing-library` org, renaming the package and publishing it to the `@testing-library` npm scope, but I'm unsure how permissions and things work for all these things as I've never not owned the orgs/scopes myse